@import "../dashboard.component.scss";

h5 {
  text-decoration: underline;
  text-underline-offset: 0.075em;
}

.text-orange {
  color: $orange-color;
}

.container-fluid {
  user-select: none;
  padding: 0;
  width: 45rem;
  min-height: 10rem;
  background-color: rgb(237, 241, 245);
  font-weight: bold;
}

.page-breadcrumb {
  padding: 15px 20px 36px;

  .page-title {
    margin-bottom: 0px;
    font-weight: 900;
    text-align: center;
  }

  .breadcrumb {
    background: 0 0;
    margin-bottom: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 12px;
  }
}

.campaign-btn {
  margin-left: 2em;
}

.add-button {
  width: 13em;
  background-image: linear-gradient(to right, rgb(237, 241, 245), $orange-color);
  background-size: 175%;
  background-position: center;
  transition: background-position 250ms;

  &:focus,
  &:hover {
    background-position: right;
  }
}

.campaign-cards {
  font-family: 'Times New Roman', Tahoma, sans-serif;
  margin: 1.25em;
  width: 48em;

  .card-block {
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    color: white;
    background: $black-color;
    border-radius: 0.15em;

    .card-title {
      font-family: Verdana, sans-serif
    }
  }

  .campaign-img {
    width: 5em;
    height: auto;
  }

  .small-text {
    font-weight: normal;
    font-size: 13px;
    margin: 0 0 0 2em;
    padding: 0;
  }

  .action-buttons {
    margin: 1em 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .btn-action {
    font-weight: bold;
    margin-bottom: 0.5em;
    width: 35%;
    color: rgb(237, 241, 245);
    border-width: 0;
    border-radius: 0;
    outline: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    transition: ease-in 200ms;

    &:hover {
      width: 45%;
      cursor: pointer;
    }

    &.edit {
      background: rgba(0, 140, 255, 0.6);
    }

    &.delete {
      background: rgba(255, 0, 0, 0.6);
    }
  }
}



@media only screen and (max-width: 1024px) {

  .campaign-btn {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .container-fluid {
    width: 29rem;
  }

  .campaign-cards {
    width: unset;

    .campaign-img {
      width: 5em;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    margin-top: -0.5rem;
  }

  .campaign-cards {
    margin: 2em 4em 4em 2em;

    .campaign-img {
      width: 4em;
    }
  }
}

@media only screen and (max-width: 512px) {
  .campaign-img {
    width: 2em;
  }

  .container-fluid {
    width: 20rem;
    margin-top: -2.75rem;
  }

  .campaign-cards {
    margin: 1em 2.5em 2em 0.5em;

    .card-title {
      font-size: 18px;
    }

    .small-text {
      font-size: 12px;
    }
  }

  .page-breadcrumb {
    .page-title {
      margin-top: 15vh;
      margin-bottom: -10vh;
      font-size: 14px;
    }
  }
}
