<div class="container-fluid">

  <div class="page-breadcrumb bg-white">
    <h4 class="page-title">
      {{ "dashboard.campaigns.label" | translate }}
    </h4>
  </div>

  <div class="row campaign-btn">
    <button type="button" class="btn btn-light rounded mt-3 font-weight-bold add-button" (click)="createCampaign()">
      <fa-icon [icon]="['fas','tags']"></fa-icon>
      {{'dashboard.campaigns.new.label' | translate}}
    </button>
  </div>

  <div class="campaign-cards">
    <div class="row">
      <div *ngFor="let campaign of campaignArray"class="card-block col-lg-5 col-md-11 col-12">
        <div class="row">
          <div class="col-8 text-center">
            <h5 class="card-title font-weight-bold text-orange">{{ campaign.name | uppercase }} </h5>
            <p class="small-text font-weight-bold font-italic">{{ "dashboard.campaigns.unfolding-period" | translate }}</p>
            <p class="small-text">{{ campaign.startDate }} - {{ campaign.endDate }}</p>
            <span class="small-text font-weight-bold font-italic">{{ "dashboard.campaigns.status.label" | translate }}
              <span [ngClass]= "isActive ? 'small-text d-block font-weight-bold mt-n1 text-success' : 'small-text d-block font-weight-bold text-danger' ">
                {{ campaign.statusLabel }}
              </span>
            </span>
          </div>
          <div class="col-4">
            <img src="../../../assets/images/sale.png" class="campaign-img"/>
          </div>
          <div class="action-buttons">
            <button type="button" class="btn btn-action edit" (click)="editCampaign(campaign)">
              <fa-icon [icon]="['fas','edit']"></fa-icon>
              {{ "dashboard.campaigns.edit.label" | translate }}
            </button>
            <button type="button" class="btn btn-action delete" (click)="removeCampaign(campaign.id)">
              <fa-icon [icon]="['fas','trash']"></fa-icon>
              {{ "dashboard.campaigns.delete.label" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
