<!-- Header Inner -->
<div class="header shop">
  <div class="header-inner">
    <div class="container">
      <div class="cat-nav-head">
        <div class="row">
          <div class="col-lg-3">
            <div class="all-category">
              <h3 class="cat-heading">
                <i><fa-icon [icon]="['fas', 'bars']"></fa-icon></i>{{ 'products.index.categories.label' | translate | uppercase }}
              </h3>
              <ul class="main-category" *ngIf="productCategoriesResource.length > 0">
                <li>
                  <a>{{ productCategoriesResource[0].name }}<i><fa-icon [icon]="['fas', 'angle-right']"></fa-icon></i></a>
                  <ul class="sub-category">
                    <li *ngFor="let subsection of productCategoriesResource[0].subSections">
                      <a [routerLink]="['./subcategory', subsection.name | lowercase]">{{ subsection.name }}</a></li>
                  </ul>
                </li>
                <li class="main-mega">
                  <a>{{ productCategoriesResource[1].name }}<i><fa-icon [icon]="['fas', 'angle-right']"></fa-icon></i></a>
                  <ul class="mega-menu">
                    <li class="single-menu" *ngFor="let subsection of productCategoriesResource[1].subSections">
                      <a [routerLink]="['./subcategory', subsection.key | lowercase]" class="title-link">{{ subsection.name }}</a>
                      <div class="image">
                        <img [src]=subsection.imagePath/>
                      </div>
                      <div class="inner-link" *ngFor="let brand of subsection.brands">
                        <a [routerLink]="['./brand', brand.name | lowercase]" [queryParams]="{'subcategory': subsection.key | lowercase}">{{ brand.name }}</a>
                      </div>
                    </li>
                  </ul>
                </li>
                <li *ngFor="let category of productCategoriesResource | slice: 2; let idx = index">
                  <a [routerLink]="['./category', productCategoriesResource[idx+2]?.key | lowercase]">{{ productCategoriesResource[idx+2]?.name }}</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-9 col-12">
            <div class="menu-area">
              <!-- Main Menu -->
              <nav class="navbar navbar-expand-lg">
                <div class="navbar-collapse">
                  <div class="nav-inner">
                    <ul class="nav navbar-nav">
                      <li *ngFor="let specialCategory of specialCategoriesResource">
                        <a [routerLink]="['./special', specialCategory.key | lowercase]">{{ specialCategory.name }}</a>
                        <span *ngIf="specialCategory.key==='recent-arrivals'" class="new">{{'miscellaneous.new-label' | translate}}</span>
                      </li>
                      <li *ngFor="let campaignCategory of campaignCategoriesResource">
                        <a [routerLink]="['./campaign', campaignCategory.key | lowercase]">{{ campaignCategory.name }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!--/ End Main Menu -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Slider Area -->
<div class="hero-slider" *ngIf="headlineResource.length > 0">
  <!-- Single Slider -->
  <div class="single-slider" [style.background-image]="'url(' + headlineResource[0]?.imageLocation + ')'">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-lg-9 offset-lg-3 col-12">
          <div class="text-inner">
            <div class="row">
              <div class="col-lg-7 col-12">
                <div class="hero-text">
                  <h1><span>{{ headlineResource[0].shortDescription }}</span>{{ headlineResource[0].name }}</h1>
                  <p class="rwd-break">
                    {{ headlineResource[0].fullDescription }}
                  </p>
                  <div class="button">
                    <a [routerLink]="['/products', headlineResource[0].uri]" class="btn">{{ headlineResource[0].uriDescription }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Single Slider -->
</div>
<!--/ End Slider Area -->

<!-- Start Product Area -->
<div class="product-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>{{ 'products.index.trending' | translate }}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">
          <div class="nav-main">
            <!-- Tab Nav -->
            <ul class="nav nav-tabs">
              <li *ngFor="let productType of productTypes" class="nav-item">
                <a (click)="selectedProductType = productType" class="nav-link" [class.active]="selectedProductType===productType" data-toggle="tab" role="tab">{{ productType }}</a>
              </li>
            </ul>
            <!--/ End Tab Nav -->
          </div>
          <div class="tab-content">
            <!-- Start Single Tab -->
            <div *ngIf="selectedProductType===FASHION_LABEL" class="tab-pane fade show active" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <div *ngFor="let fashionProduct of fashionProducts" class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a [routerLink]="[fashionProduct.id]">
                          <img class="default-img" src="{{'data:image/jpg;base64,' + fashionProduct.imageData}}"/>
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a (click)="addToCart(fashionProduct)"><i><fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon></i>{{"products.index.cart.add" | translate }}</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3>
                          <a [routerLink]="[fashionProduct.id]">{{ fashionProduct.name }}</a>
                        </h3>
                        <div class="product-price">
                          <span>{{ fashionProduct.price }}€</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Start Single Tab -->
            <div *ngIf="selectedProductType===BOOKS_LABEL" class="tab-pane fade show active" role="tabpanel">
              <div class="tab-single">
                <div class="row">
                  <div *ngFor="let bookProduct of booksProducts" class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a [routerLink]="[bookProduct.id]">
                          <img class="books-img" src="{{'data:image/jpg;base64,' + bookProduct.imageData}}"/>
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a (click)="addToCart(bookProduct)"><i><fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon></i>{{"products.index.cart.add" | translate }}</a>
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3>
                          <a [routerLink]="[bookProduct.id]">{{ bookProduct.name }}</a>
                        </h3>
                        <div class="product-price">
                          <span>{{ bookProduct.price }}€</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Product Area -->

<!-- Start Medium Banner  -->
<section class="medium-banner">
  <div class="container">
    <div class="row">
      <!-- Single Banner  -->
      <div *ngFor="let collection of collectionsResource" class="col-lg-6 col-md-6 col-12">
        <div class="single-banner">
          <img src="../../../assets/images/products/collection-border.png"/>
          <div class="content">
            <p>{{ collection.name }}</p>
            <h3>{{ collection.description }}</h3>
            <a [routerLink]="['./category', collection.key]">{{ collection.uriDescription }}</a>
          </div>
        </div>
      </div>
      <!-- /End Single Banner  -->
    </div>
  </div>
</section>
<!-- End Medium Banner -->
