@import "../../dashboard.component.scss";

h5 {
  text-align: center;
  font-family: Tahoma;
  text-decoration: underline;
  color: rgb(88, 85, 81);
}

h6 {
  margin: 0.75em 0.5em;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 1.15em;
  font-weight: bold;
}

h6::before {
  margin-right: 0.5em;
  font-family: FontAwesome;
  content: "\f099";
  font-weight: bold;
  font-size: 2em;
  line-height: 0.7em;
  color: $orange-color;
}

.fields-container {
  display: flex;
  flex-flow: column wrap;
  padding: 0.75em;
}

.custom-select {
  width: 50%;
}

.invalid-feedback {
  color: $orange-color;
  font-weight: bold;
  font-size: 0.9em;
}

.invalid-dates {
  @extend .invalid-feedback;
}

input {
  border-radius: 0.15em;
}

.btn {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Cambria, serif;
}

mat-dialog-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2em;

  &>* {
    width: 7em;
  }

  .btn--next {
    border-radius: 0.075em;
    background: $orange-color;
    transition: 50ms ease-in;

    &:hover,
    &:focus {
      outline: 0.1em solid $black-color;
    }
  }

  .btn--previous {
    border-radius: 0.075em;
    color: white;
    background: $black-color;
    transition: 200ms ease-in;

    &:hover,
    &:focus {
      outline: 0.1em solid $orange-color;
    }
  }
}

.search-bar {
  text-align: center;
  margin-top: 1em;

  .input {
    text-align: center;
    background: transparent;
    color: #666;
    font-size: 1em;
    font-weight: 500;
  }
}

.product-item {
  font-weight: bold;
  margin: auto;
  width: 50%;
  transition: 200ms ease-in;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: $orange-color;
    cursor: pointer;
  }
}

.campaign-products {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  flex-wrap: wrap;
  gap: 1em;

  .default-img {
    width: 7em;
    margin: auto;
  }

  .product-title-text {
    color: $black-color;
    transition: 200ms ease-in;

    &:focus,
    &:hover {
      color: $orange-color;
    }
  }

  .btn--remove {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    line-height: 1em;
    width: 75%;
    background: $black-color;
    color: orangered;
    transition: 150ms ease-in;
    outline: 0.1em solid orangered;

    &:hover {
      background: orangered;
      color: $black-color;
    }
  }

  .price-input {
    width: 5em;
    font-weight: bold;
    text-align: center;
  }

  @media only screen and (min-width: 512px) {
    flex-direction: row;
  }
}


