<div>
  <h5>{{'dashboard.campaigns.new.title' | translate }}</h5>

  <fieldset *ngIf="currentProcessingStep == CampaignProcessingStatus.MAIN">
    <h6>{{'dashboard.campaigns.new.general.title' | translate }}</h6>
    <hr>
    <form *ngIf="campaignForm" class="form" [formGroup]="campaignForm" id="campaignForm">
      <div class="fields-container">
        <div class="form-field">
          <label class="mb-1 mr-4">{{'dashboard.campaigns.new.general.name' | translate }}</label>
          <input type="text" name="name" formControlName="name" [ngClass]="{ 'is-invalid': onSubmit && form.name.errors }">
          <div *ngIf="onSubmit && form.name.errors" class="invalid-feedback">
            <div *ngIf="form.name.errors?.required">{{'dashboard.campaigns.new.general.validation.name' | translate }}</div>
          </div>
        </div>
        <div class="form-field mt-3">
          <label class="mb-1 mr-3">{{'dashboard.campaigns.new.general.start-date' | translate }}</label>
          <input type="date" name="startDate" formControlName="startDate" size="8" minlength="8" maxlength="20"
          [ngClass]="{ 'is-invalid': onSubmit && form.startDate.errors }">
          <div *ngIf="onSubmit && form.startDate.errors" class="invalid-feedback">
            <div *ngIf="form.startDate.errors?.required">{{'dashboard.campaigns.new.general.validation.start-date' | translate }}</div>
          </div>
        </div>
        <div class="form-field mt-3">
          <label class="mr-3">{{'dashboard.campaigns.new.general.end-date' | translate }}</label>
          <input type="date" name="endDate" formControlName="endDate" size="8" minlength="8" maxlength="20"
          [ngClass]="{ 'is-invalid': onSubmit && form.endDate.errors }">
          <div *ngIf="onSubmit && form.endDate.errors" class="invalid-feedback">
            <div *ngIf="form.endDate.errors?.required">{{'dashboard.campaigns.new.general.validation.end-date' | translate }}</div>
          </div>
          <div *ngIf="campaignForm.hasError('notValid')">
            <div class="invalid-dates">{{'dashboard.campaigns.new.general.validation.delta-date' | translate }}</div>
          </div>
        </div>
        <div class="form-field mt-3 mb-3">
          <label class="mb-4 mr-4">{{'dashboard.campaigns.status.label' | translate }}</label>
          <select class="custom-select" (change)="changeStatus($event)" formControlName="status">
            <option *ngFor="let currentStatus of states" [selected]="currentStatus.key" [ngValue]="currentStatus.key">
              {{ currentStatus.label }}
            </option>
          </select>
        </div>
      </div>
      <mat-dialog-actions>
        <button class="btn btn--next" (click)="onNextStep()">{{'dashboard.campaigns.new.buttons.next' | translate }}</button>
        <button class="btn btn--previous" [mat-dialog-close]="true">{{'dashboard.campaigns.new.buttons.abort' | translate }}</button>
      </mat-dialog-actions>
    </form>
  </fieldset>

  <fieldset *ngIf="currentProcessingStep == CampaignProcessingStatus.PRODUCTS">
    <h6>{{'dashboard.campaigns.new.products.label' | translate }}</h6>
    <hr>
    <div class="search-bar">
      <form>
          <input name="search" type="text" (keyup)="searchProducts($event)" [placeholder]="'menu.search-label' | translate">
      </form>
      <div *ngIf="searchedProducts">
        <div *ngFor="let searchedProduct of searchedProducts">
          <div class="product-item" (click)="addProductToList(searchedProduct)">
              • {{ searchedProduct.name }}
          </div>
        </div>
      </div>
    </div>
    <hr>
    <ng-container *ngIf="campaignProducts.length > 0">
      <h6>{{'dashboard.campaigns.new.products.existing' | translate }}</h6>
      <div class="container campaign-products">
        <div *ngFor="let currentProduct of campaignProducts">
          <div class="card ml-1">
            <div class="card-body text-center">
              <div class="card-img-actions">
                <img class="default-img" src="{{'data:image/jpg;base64,' + currentProduct.imageData}}"/>
              </div>
            </div>
            <div class="card-body bg-light text-center">
              <div class="mb-1">
                <span class="font-weight-bold d-block mb-1">
                  <a [routerLink]="['/products/', currentProduct.id]" class="product-title-text font-weight-bold mb-1">{{ currentProduct.name }}</a>
                </span>
              </div>
              <span class="mb-1 mt-1">{{ currentProduct.price }}€</span>
              <span class="small ml-1 font-italic font-weight-bold text-danger" *ngIf="currentProduct.priceReduction">
                (-{{ currentProduct.priceReduction }}€)
              </span>
              <span class="d-block mb-1 mt-1 font-weight-bold small">{{'dashboard.campaigns.new.products.price' | translate }}</span>
              <input type="number" min="1" max="currentProduct.price" oninput="this.value = Math.abs(this.value)" class="price-input mb-1 border rounded"
              (change)="changeProductPrice(currentProduct, $event)"
              [attr.placeholder]="currentProduct.discountPrice ? currentProduct.discountPrice : currentProduct.price">
              <button class="btn btn--remove mt-1" (click)="removeProductFromList(currentProduct)">
                {{'dashboard.campaigns.new.products.delete' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </ng-container>
    <ng-container *ngIf="campaignProducts.length == 0">
      <p class="text-danger text-center font-weight-bold">{{'dashboard.campaigns.new.products.list-empty' | translate }}</p>
    </ng-container>
    <mat-dialog-actions>
      <button class="btn btn--previous" (click)="onPreviousStep()">
        {{'dashboard.campaigns.new.buttons.back' | translate }}
      </button>
      <button class="btn btn--next" [disabled]="campaignProducts.length == 0"
      (click)="onSubmit()">{{'dashboard.campaigns.new.buttons.submit' | translate }}</button>
    </mat-dialog-actions>
  </fieldset>

  <div *ngIf="currentProcessingStep == CampaignProcessingStatus.SUCCESSFUL" class="d-flex flex-column justify-content-center align-items-center my-5">
    <i><fa-icon [icon]="['fas', 'check-square']" size="5x" class="text-success"></fa-icon></i>
    <h4 class="font-weight-bold">{{'dashboard.campaigns.new.products.success' | translate }}</h4>
  </div>
  <div *ngIf="currentProcessingStep == CampaignProcessingStatus.FAILED" class="d-flex flex-column justify-content-center align-items-center my-5">
    <i><fa-icon [icon]="['fas', 'exclamation-triangle']" size="5x" class="text-danger"></fa-icon></i>
    <h4 class="font-weight-bold">{{'dashboard.campaigns.new.products.fail' | translate }}</h4>
  </div>
  <mat-dialog-actions *ngIf="currentProcessingStep == CampaignProcessingStatus.SUCCESSFUL || currentProcessingStep == CampaignProcessingStatus.FAILED">
    <button class="btn--next font-weight-bold" (click)="closePopup()">{{'dashboard.campaigns.new.buttons.close' | translate }}</button>
  </mat-dialog-actions>

</div>
