@import '../../../assets/css/auth/common/variables.scss';

body {
  background-color: #eeeeee;
}

.text-orange {
  font-weight: bold;
  color: $orange-color;
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid $black-color;
  border-radius: 0.1rem;
}

.info {
  margin-right: 60px;
}

.track {
  position: relative;
  background-color: $black-color;
  height: 7px;
  display: flex;
  margin-bottom: 100px;
  margin-top: 20px;
  border-radius: 0.2rem;
}

.track .step {
  width: 100%;
  text-align: center;
  position: relative;
}

.track .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
}

.track .step.passed:before {
  border-radius: 0.2rem;
  color: $orange-color;
  border-color: $orange-color;
  background: $orange-color;
}

.track .icon {
  top: -1rem;
  margin-left: -0.75rem;
  display: inline-block;
  width: 35px;
  line-height: 35px;
  position: absolute;
  border-radius: 100%;
  background: rgb(233, 231, 231);
}

.track .icon.active {
  background: $orange-color;
  color: #fff;
}

.track .text {
  display: block;
  margin-left: 10px;
  margin-top: 20px;
}

.track .step.passed .text {
  font-weight: bold;
}

.itemside {
  position: relative;
  display: flex;
  width: 100%
}

.itemside .aside {
  position: relative;
  flex-shrink: 0;
}

.img-sm {
  width: 90px;
  height: 90px;
  padding: 8px;
}

ul.row,
ul.row-sm {
  list-style: none;
  padding: 0
}

.itemside .info {
  padding-left: 15px;
  padding-right: 7px;
}

.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

.bg-cart {
  background-color: $orange-color;
  color: #fff;
  border-radius: 0.15rem;
  border: none;
}

.bg-cart:hover {
  background-color: black;
  cursor: pointer;
  color: #fff
}

@media only screen and (max-width: 768px) {
  article {
    font-size: 12px;
  }

  h5 {
    text-align: center;
  }

  .info {
    flex-direction: column;
    margin-right: 0;
  }

  .info .item {
    margin-bottom: 10px;
    text-align: center;
  }

  .info .item:last-child {
    margin-bottom: 0;
  }

  .track {
    margin-top: 0;
    margin-bottom: 65px;
  }

  .buttons {
    flex-direction: column;
  }

  .bg-cart:nth-child(n+2) {
    margin-top: 1rem;
  }
}
