<app-header></app-header>

<div class="container" *ngIf="order">
  <article class="card">
    <div class="card-body">
      <div id="orderContent">
        <h5>{{ 'orders.tracking.label' | translate }}<span class="text-orange">{{ order.id }}</span></h5>
        <hr>
        <article>
            <div class="info d-flex justify-content-around mb-5">
                <div class="item">
                  <strong>{{ 'orders.tracking.info.estimated-delivery-time' | translate }}</strong>
                  <br>{{ deliveryDate }}
                </div>
                <div class="item">
                  <strong>{{ 'orders.tracking.info.shipping-address' | translate }}</strong>
                  <br>{{ order.userDto.address }}
                  </div>
                <div class="item">
                  <strong>{{ 'orders.tracking.info.status.label' | translate }}</strong>
                  <br>
                  <span [ngClass]="{'text text-danger font-weight-bold' : cancelledOffer}">{{ statusTranslation }}</span>
                </div>
            </div>
        </article>
        <div class="track">
            <div [ngClass]="atLeastConfirmedOffer ? 'step passed' : 'step'">
              <span [ngClass]="confirmedOffer ? 'icon active' : 'icon'">
                <i><fa-icon [icon]="['fas', 'check-square']"></fa-icon></i>
              </span>
              <span class="text">{{ 'orders.tracking.info.status.confirmed' | translate }}</span>
            </div>
            <div [ngClass]="atLeastPendingOffer ? 'step passed' : 'step'">
              <span [ngClass]="pendingOffer ? 'icon active' : 'icon'">
                <i><fa-icon [icon]="['fas', 'truck']"></fa-icon></i>
              </span>
              <span class="text">{{ 'orders.tracking.info.status.pending' | translate }}</span>
            </div>
            <div [ngClass]="completedOffer ? 'step passed' : 'step'">
              <span [ngClass]="completedOffer ? 'icon active' : 'icon'">
                <i><fa-icon [icon]="['fas', 'box']"></fa-icon></i>
              </span>
              <span class="text">{{ 'orders.tracking.info.status.completed' | translate }}</span>
            </div>
        </div>
        <hr>
        <ul class="row">
            <li class="col-md-4" *ngFor="let cartProduct of order.cartDto.cartProductDtos">
                <figure class="itemside mb-1">
                    <div class="aside">
                      <img src="{{ 'data:image/jpg;base64,' + cartProduct.productDto.imageData }}" class="img-sm border">
                    </div>
                    <figcaption class="info align-self-center">
                        <p class="title">{{ cartProduct.productDto.name }}
                        <br>{{ cartProduct.productDto.category }}</p>
                        <span class="font-weight-bold">{{ cartProduct.quantity }}x - {{ cartProduct.totalPrice }}€</span>
                    </figcaption>
                </figure>
            </li>
        </ul>
        <p class="font-weight-bold text text-right text-orange mt-4">{{ 'orders.price' | translate }} - {{ order.price }}€</p>
        <hr>
      </div>
      <div class="d-flex justify-content-between buttons">
        <a routerLink="../my-orders" class="btn bg-cart">
          <i><fa-icon [icon]="['fas', 'location-arrow']"></fa-icon></i>
          <span class="ml-2">{{ 'orders.tracking.back-to-orders' | translate }}</span>
        </a>
        <button *ngIf="!cancelledOffer && !completedOffer" class="btn bg-cart" (click)="cancelOrder()">
          <i><fa-icon [icon]="['fas', 'times']"></fa-icon></i>
          <span class="ml-2">{{ 'orders.tracking.cancel' | translate }}</span>
        </button>
        <button class="btn bg-cart" (click)="downloadOrderAsPdf()">
          <i><fa-icon [icon]="['fas', 'file-pdf']"></fa-icon></i>
          <span class="ml-2">{{ 'orders.tracking.download-pdf' | translate }}</span>
        </button>
      </div>
    </div>
  </article>
</div>

<app-footer></app-footer>
