@import '../../../assets/css/auth/common/styles.scss';

.signin-content {
  @extend display-flex;
  padding: 50px 0;
}

.social-login {
  @extend display-flex;
  @include align-items(center);
  @include justify-content(center);
}

.social-label {
  display: inline-flex;
  font-size: 18px;
  user-select: none;
}

.socials {
  @extend display-flex;
  @extend list-type-ulli;
  li {
    padding: 5px;
    cursor: pointer;
  }
}

.facebook-logo {
  color: #3b5998;
}

.twitter-logo {
  color: #1da0f2;
}

.google-logo {
  color: #e72734;
}

.signin-form {
  margin-top: -25px;
  margin-right: 60px;
}

.agree-term {
  display: inline-block;
  width: auto;
  padding-top: -20px;
  background-color: $black-color;
  color: $black-color;
}

.label-agree-term {
  font-size: 15px;
  padding-left: 3px;
  position: relative;
  @include transform(translateY(0));
  user-select: none;
}
