<div class="container">
  <app-language [alignClass]=alignClass></app-language>
  <div class="signin-content">
    <div class="signup-image">
        <figure><img src="../../../assets/images/logo-image.png"></figure>
    </div>
    <div class="signin-form">
        <p *ngIf="registered" class="text text-center text-warning font-weight-bold">{{ 'user.registration-complete' | translate }} </p>
        <h2 class="login-form-title">{{ 'user.login' | translate }}</h2>
        <form method="POST" *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group material-icons-name">
                <label for="email">
                  <span *ngIf="!submitted" class="required-asterisk">*</span>
                </label>
                <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" [placeholder]="'user.form.placeholder.email' | translate"/>
                <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                  <div *ngIf="form.email.errors?.required">{{ 'user.form.signin.email-required' | translate }}</div>
                  <div *ngIf="form.email.errors?.email">{{ 'user.form.signin.email-invalid' | translate }}</div>
                </div>
            </div>
            <div class="form-group material-icons-name">
              <label for="password">
                <span *ngIf="!submitted" class="required-asterisk">*</span>
              </label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" [placeholder]="'user.form.placeholder.password' | translate"/>
                <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                  <div *ngIf="form.password.errors?.required">{{ 'user.form.signin.password-required' | translate }}</div>
                  <div *ngIf="form.password.errors?.minlength">{{ 'user.form.signin.password-invalid' | translate }}</div>
              </div>
            </div>
            <div class="form-group">
                <input type="checkbox" formControlName="rememberMe" class="agree-term"/>
                <label for="rememberMe" class="label-agree-term">{{ 'user.form.signin.remember-me' | translate }}</label>
            </div>
            <div class="display-flex-center">
              <span class="form-group form-button">
                <button class="login-form-submit">{{ 'user.login' | translate }}</button>
              </span>
              <span class="form-group form-button">
                <button [routerLink]="['../register']" class="login-form-submit">{{ 'user.register' | translate }}</button>
              </span>
            </div>
            <p class="text-center text-danger font-weight-bold" *ngIf=errorMessage>{{ errorMessage }}</p>
        </form>
    </div>
  </div>
  <div class="social-login">
    <span class="social-label">{{ 'user.form.signin.social-login-label' | translate }}</span>
    <ul class="socials">
      <li (click)="socialSignIn('Facebook')"><fa-icon [icon]="['fab','facebook']" size="3x" class="facebook-logo"></fa-icon></li>
      <li (click)="socialSignIn('Google')"><fa-icon [icon]="['fab','google']" size="3x" class="google-logo"></fa-icon></li>
    </ul>
  </div>
</div>
