a:focus,
a:active {
  text-decoration: none;
  outline: none;
  @include transition(all 300ms ease 0s);
}

a:hover {
  color: $orange-color;
  outline: none;
}

input,
select,
textarea {
  outline: none;
  @include appearance(unset);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  @include appearance(none);
  margin: 0;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  @include box-shadow-input(none);
}

input[type="checkbox"] {
  @include appearance(checkbox);
}

input[type="radio"] {
  @include appearance(radio);
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

p {
  margin-bottom: 0px;
  font-size: 15px;
  color: #777;
}

h2 {
  line-height: 1.5;
  padding-top: 50px;
  font-weight: bold;
  color: $black-color;
  font-family: Poppins;
  font-size: 36px;
  user-select: none;
}

.main {
  background: #f8f8f8;
  padding: 150px 0;
}

.clear {
  clear: both;
}

body {
  font-size: 13px;
  line-height: 1.8;
  color: $black-color;
  background: #f8f8f8;
  font-weight: 400;
  font-family: Poppins;
}

.container {
  width: 1000px;
  background: #fff;
  @include box-shadow(0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05));
  @include border-radius(15px);
}

.display-flex {
  @extend display-flex;
  @include justify-content(space-between);
  @include align-items(center);
}

.display-flex-center {
  @extend display-flex;
  @include justify-content(center);
  @include align-items(center);
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

.language-toolbar {
  @extend display-flex;
  justify-content: center;
}

.language-toolbar-right {
  border: #777;
  @extend display-flex;
  justify-content: flex-end;
}

.mat-select-panel {
  position: relative;
  top: 25px;
  left: 25px;
  color: black;
  font-family: Poppins, Curier, monospace;
  text-transform: uppercase;
}

.mat-option {
  padding-top: 20px;
  margin-left: 10px;
}

.language-text {
  letter-spacing: 0.1rem;
  font-family: Poppins, Curier, monospace;
  font-weight: bold;
  font-size: 0.6rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.language-option:hover {
  background-color: transparent;
  color: $orange-color;
}
