<header class="header shop">
  <div class="middle-inner">
    <div class="container">
      <div class="right-bar">
        <!-- Search Form -->
        <div class="single-bar shopping" *ngIf="cartResource">
            <a class="single-icon" role="button">
              <i><fa-icon [icon]="['fas','shopping-bag']"></fa-icon></i><span class="total-count">{{ cartProducts.length }}</span>
            </a>
            <span class="p-2 single-icon" role="button">{{ cartResource.name }}</span>
          <!-- Shopping Item -->
          <div class="shopping-item" *ngIf="viewCartResource">
            <div class="dropdown-cart-header">
              <span>{{ cartProducts.length }} {{ itemsResource.name }}</span>
              <a *ngIf="cartProducts.length > 0" [routerLink]="[viewCartResource.uri]">{{ viewCartResource.name }}</a>
            </div>
            <ul class="shopping-list" *ngIf="removeItemResource">
              <li *ngFor="let cartProduct of cartProducts">
                <a class="remove" [title]=removeItemResource.name>
                  <i (click)="removeFromCart(cartProduct.product)"><fa-icon [icon]="['fas', removeItemResource.icon]"></fa-icon></i>
                </a>
                <a class="cart-img">
                  <img src="{{ 'data:image/jpg;base64,' + cartProduct.product.imageData }}"/>
                </a>
                <h4>
                  <a [routerLink]="['/products', cartProduct.product.id]">{{ cartProduct.product.name }}</a>
                </h4>
                <p class="quantity">
                  {{ cartProduct.quantity }}x - <span class="amount">{{ cartProduct.totalPrice }}€</span>
                </p>
              </li>
            </ul>
            <div class="bottom" *ngIf="totalResource && checkoutResource">
              <div class="total">
                <span>{{ totalResource.name }}</span>
                <span class="total-amount">{{ totalCartPrice }}€</span>
              </div>
              <a *ngIf="cartProducts.length > 0" [routerLink]="[checkoutResource.uri]" class="btn animate">{{ checkoutResource.name }}</a>
            </div>
          </div>
          <!--/ End Shopping Item -->
        </div>
      </div>
    </div>
  </div>
</header>
