@import '../../../assets/css/auth/common/styles.scss';

.signup-form {
  margin-top: -45px;
  margin-left: 50px;
  margin-right: 100px;
}

.signin-image {
  margin-left: 40px;
  margin-right: 50px;
  margin-top: 5px;
}

.member-text {
  @extend .display-flex-center;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
