<div class="container">
  <app-language [alignClass]=alignClass></app-language>
  <div class="signup-content">
      <div class="signup-form">
          <h2 class="register-form-title">{{ 'user.register' | translate }}</h2>
          <form method="POST" *ngIf="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group material-icons-name">
                  <label for="name">
                    <span *ngIf="!submitted" class="required-asterisk">*</span>
                  </label>
                  <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" [placeholder]="'user.form.placeholder.name' | translate"/>
                  <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors?.required">{{ 'user.form.signup.name-required' | translate }}</div>
                  </div>
              </div>
              <div class="form-group material-icons-name">
                  <label for="email">
                    <span *ngIf="!submitted" class="required-asterisk">*</span>
                  </label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" [placeholder]="'user.form.placeholder.email' | translate"/>
                  <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                    <div *ngIf="form.email.errors?.required">{{ 'user.form.signup.email-required' | translate }}</div>
                    <div *ngIf="form.email.errors?.email">{{ 'user.form.signup.email-invalid' | translate }}</div>
                  </div>
              </div>
              <div class="form-group material-icons-name">
                  <label for="password">
                    <span *ngIf="!submitted" class="required-asterisk">*</span>
                  </label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" [placeholder]="'user.form.placeholder.password' | translate"/>
                  <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors?.required">{{ 'user.form.signup.password-required' | translate }}</div>
                    <div *ngIf="form.password.errors?.minlength">{{ 'user.form.signup.password-invalid' | translate }}</div>
                  </div>
              </div>
              <div class="form-group material-icons-name">
                  <label for="confirmPassword">
                    <span *ngIf="!submitted" class="required-asterisk">*</span>
                  </label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }" [placeholder]="'user.form.placeholder.confirmed-password' | translate"/>
                  <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="form.confirmPassword.errors?.required">{{ 'user.form.signup.confirmed-password-required' | translate }}</div>
                    <div *ngIf="form.confirmPassword.errors?.minlength">{{ 'user.form.signup.confirmed-password-invalid' | translate }}</div>
                    <div *ngIf="form.confirmPassword.errors?.mustMatch">{{ 'user.form.signup.passwords-match' | translate }}</div>
                  </div>
              </div>
              <div class="display-flex-center">
                <div class="form-group form-button">
                  <button class="register-form-submit">{{ 'user.form.signup.label' | translate }}</button>
                </div>
              </div>
              <a [routerLink]="['../login']" class="member-text">{{ 'user.form.signup.already-a-member' | translate }}</a>
              <p class="mt-3 text-center text-danger font-weight-bold" *ngIf=errorMessage>{{ errorMessage }}</p>
          </form>
      </div>
      <div class="signin-image">
          <figure><img src="../../../assets/images/logo-image.png" alt="sign in image"></figure>
      </div>
  </div>
</div>
