@import '../../../assets/css/products/common/variables.scss';

body {
  margin-top: 20px;
  color: $orange-color;
  text-align: center;
  background-color: #e2e8f0;
}

.main-body {
  padding: 15px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  border: 0 solid rgba(0, 0, 0, .125);
  border-radius: 1rem;
  box-shadow: 0px 1px 1px 1px $black-color;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;

  & input {
    border-bottom: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    &:focus {
      color: $orange-color;
    }
  }
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}

.btn-outline-warning {
  &:hover {
    background-color: $orange-color;
    color: white;
  }

  &.primary {
    background-color: $black-color;
    &:hover {
      background-color: $orange-color;
      color: white;
    }
  }
}

.breadcrumb-item>a {
  color: $black-color;
  transition: color 0.15s;
  &:hover {
    color: $orange-color;
  }
}

.border-line {
  border-right: 1px solid #BDBDBD
}

.text-sm {
  font-size: 13px
}

.text-md {
  font-size: 18px
}

.image {
  width: 60px;
  height: 35px;
}

::placeholder {
  color: grey;
  opacity: 1
}

:-ms-input-placeholder {
  color: grey
}

::-ms-input-placeholder {
  color: grey
}

.form-group {
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

input {
  padding: 2px 0px;
  border: none;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 5px;
  margin-top: 2px;
  color: #000;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500
}

input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid $orange-color;
  outline-width: 0
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.btn-orange {
  background-color: $orange-color;
  color: #fff;
  padding: 8px 25px;
  border-radius: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  border: 2px solid #fff
}

.mandatory {
  padding-left: 0.25rem;
  color: $orange-color;
}

.btn-orange:hover {
  box-shadow: 0 0 0 2px #EF5350
}

.btn-red:focus {
  box-shadow: 0 0 0 2px #EF5350 !important
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: $orange-color
}

.language {
  margin-bottom: 4rem;
  margin-right: 3rem;
}

@media screen and (max-width: 575px) {
  .border-line {
      border-right: none;
      border-bottom: 1px solid #EEEEEE
  }
}

.image-upload>input {
  display: none;
}

.image-upload img {
  width: 15%;
  height: auto;
}

.rounded-circle {
  width: 175px;
  height: 175px;
}

