<app-header></app-header>

<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img class="rounded-circle" [src]="profile?.userDetailsDto.picture ? profile?.userDetailsDto.picture : '../../../assets/images/user-profile.png'" alt="Admin"/>
              <div class="mt-3">
                <h4 *ngIf="profile">{{ profile.name }}</h4>
                <p class="text-muted font-size-sm" *ngIf="profile">{{ profile.userDetailsDto?.place }}</p>
                <button [routerLink]="['/orders/my-orders']" class="btn btn-outline-warning m-2">{{'user.form.account.orders' | translate }}</button>
                <button type="submit" class="btn btn-outline-warning primary m-2" form="profileForm">{{'user.form.account.save-information' | translate }}</button>
              </div>
              <p [ngClass]="statusMessage.type === 'error' ? 'mt-3 mx-auto text-center text-danger font-weight-bold' : 'mt-3 mx-auto text-center text-warning font-weight-bold'">{{statusMessage.content| translate }}</p>
            </div>
          </div>
        </div>
        <div class="card-body language">
          <app-language [alignClass]=alignClass></app-language>
        </div>
      </div>
      <div class="col-md-8">
        <form method="POST" *ngIf="profileForm" [formGroup]="profileForm" id="profileForm" (ngSubmit)="onSubmit()">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.name' | translate }}<span class="mandatory">*</span></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="name" formControlName="name" size="65" [ngClass]="{ 'is-invalid': submitted && form.name.errors }"/>
                  <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors?.required">{{ 'user.form.signup.name-required' | translate }}</div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.email' | translate }}<span class="mandatory">*</span></h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="email" formControlName="email" size="65" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
                  <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                    <div *ngIf="form.email.errors?.required">{{ 'user.form.signup.email-required' | translate }}</div>
                    <div *ngIf="form.email.errors?.email">{{ 'user.form.signup.email-invalid' | translate }}</div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.phone' | translate }}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="phone" name="phone" formControlName="phone" size="65" [placeholder]="'user.form.placeholder.phone' | translate">
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.address' | translate }}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="address" formControlName="address" size="65" [placeholder]="'user.form.placeholder.address' | translate">
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.place' | translate }}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="place" formControlName="place" size="65" [placeholder]="'user.form.placeholder.place' | translate">
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.picture' | translate }}</h6>
                </div>
                <div class=" col-sm-9 image-upload">
                  <label for="file-input">
                    <img class="img-responsive" src="../../../assets/images/upload-photo-icon.jpg"/>
                  </label>
                  <input id="file-input" type="file" accept=".png, .jpg, .jpeg" #fileInput (change)="uploadFile($event)"/>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">{{'user.form.account.password' | translate }}</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="password" name="password" formControlName="password" size="65" [ngClass]="{ 'is-invalid': submitted && form.password.errors }" [placeholder]="'user.form.placeholder.password' | translate">
                  <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
                    <div *ngIf="form.password.errors?.minlength">{{ 'user.form.signup.confirmed-password-invalid' | translate }}</div>
                  </div>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-sm-4">
                  <h6 class="mb-0">{{'user.form.account.confirmed-password' | translate }}</h6>
                </div>
                <div class="col-sm-8 text-secondary">
                  <input type="password" name="confirmPassword" formControlName="confirmPassword" size="50" [ngClass]="{ 'is-invalid': submitted && form.confirmPassword.errors }" [placeholder]="'user.form.placeholder.confirmed-password' | translate">
                  <div *ngIf="submitted && form.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="form.confirmPassword.errors?.minlength">{{ 'user.form.signup.confirmed-password-invalid' | translate }}</div>
                    <div *ngIf="form.confirmPassword.errors?.mustMatch">{{ 'user.form.signup.passwords-match' | translate }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="col-sm">
              <div class="card">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="form-group">
                      <p class="text-muted text-sm mb-0">{{'user.form.account.card.owner-name' | translate }}</p>
                      <input type="text" name="cardOwnerName" formControlName="cardOwnerName">
                    </div>
                    <div class="form-group">
                      <p class="text-muted text-sm mb-0">{{'user.form.account.card.number' | translate }}</p>
                      <input type="text" (input)="onCardNumberInputChange($event)" pattern="[0-9]+([-\,][0-9]+)?" name="cardNumber" formControlName="cardNumber" minlength="19" maxlength="19">
                      <img *ngIf="cardImageResourcePath" class="image ml-2" [src]="cardImageResourcePath">
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <p class="text-muted text-sm mb-0">{{'user.form.account.card.expiry-date' | translate }}</p>
                      <input type="date" [ngModel]="expiryDate | date: 'yyyy-MM-dd'" (ngModelChange)="expiryDate = $event" name="cardExpiryDate" formControlName="cardExpiryDate" size="8" minlength="5" maxlength="20">
                    </div>
                    <div class="form-group">
                      <p class="text-muted text-sm mb-0">{{'user.form.account.card.cvv-cvc-code' | translate }}</p>
                      <input type="password" name="cardCvvCvcCode" formControlName="cardCvvCvcCode" size="8" minlength="3" maxlength="3">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
