@import '../../../../assets/css/products/common/variables.scss';

mat-dialog-actions {
  justify-content: flex-end;
}

.mat-button {
    font-weight: bold;
    transition: 200ms ease-in;
    color: $black-color;
    background-color: $orange-color;
  &:hover {
    color: $orange-color;
    background-color: $black-color;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

p {
  margin-top: 2vh;
  font-weight: bold;
  font-style: italic;
}

.text-orange {
  color: $orange-color;
}


.success {
  color: green;
}

.warning {
  color: $orange-color;
}

.danger {
  color: rgb(201, 18, 18);
}
