<div class="dialog">
  <h1 mat-dialog-title>{{ "orders.cancel.label" | translate }}</h1>
  <mat-dialog-content>
    <div *ngIf="cancellationStatus === orderCancelStatus.Confirmation" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'question']" size="5x" class="warning"></fa-icon></i>
      <p>{{ 'orders.cancel.confirmation-message' | translate }}</p>
    </div>
    <div *ngIf="cancellationStatus === orderCancelStatus.InProgress" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'spinner']" size="5x" class="warning"></fa-icon></i>
      <p>{{ 'orders.cancel.in-progress' | translate }}</p>
    </div>
    <div *ngIf="cancellationStatus === orderCancelStatus.Successful" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'check-square']" size="5x" class="success"></fa-icon></i>
      <p>{{ 'orders.cancel.success' | translate }}</p>
    </div>
    <div *ngIf="cancellationStatus === orderCancelStatus.Unsuccessful" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'exclamation-triangle']" size="5x" class="danger"></fa-icon></i>
      <p>{{ 'orders.cancel.failure' | translate }}</p>
    </div>
  </mat-dialog-content>
    <mat-dialog-actions>
      <button *ngIf="cancellationStatus === orderCancelStatus.Confirmation" mat-button mat-dialog-close>
        {{ 'products.index.cart.dialog.cancel' | translate }}
      </button>
      <button *ngIf="cancellationStatus === orderCancelStatus.Confirmation" mat-button (click)="initiateOrderCancellation()">
        {{ 'products.index.cart.dialog.confirm' | translate }}
      </button>
      <button *ngIf="cancellationStatus === orderCancelStatus.Successful" mat-button (click)="checkMyOrders()">
        {{ 'orders.tracking.back-to-orders' | translate }}
      </button>
      <button *ngIf="cancellationStatus === orderCancelStatus.Unsuccessful" mat-button mat-dialog-close>
        {{ 'products.index.cart.dialog.close' | translate }}
      </button>
    </mat-dialog-actions>
</div>
