.signup-content {
  @extend display-flex;
  padding: 25px 0;
}

.signup-form,
.signin-form,
.signin-image {
  width: 75%;
  overflow: hidden;
}

.signup-image {
  width: 60%;
  margin: 0 55px;
}

.register-form-title, .login-form-title {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
}

figure {
  text-align: center;
}

.register-form-submit {
  font-size: large;
  font-weight: bold;
  background: black;
  color: $orange-color;
  padding: 1px 25px;
  @include border-radius(5px);
  margin-top: 15px;
  margin-left: -10px;
  cursor: pointer;

  &:hover {
    background: darken($black-color, 50%);
    text-decoration: underline;
  }
}

.login-form-submit {
  @extend .register-form-submit;
  margin-left: 10px;
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid $grey-light;
  padding: 6px 30px;
  font-family: Poppins;
  box-sizing: border-box;
  @include input-placeholder($grey-light);

  &:focus {
    border-bottom: 1px solid $black-color;
    @include input-placeholder($black-color);
  }
}

input[type='checkbox'] {
  vertical-align: -2px;
  width: 14px !important;
  height: 14px !important;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  @include transform(translateY(-50%));
  color: $black-color;
}

.material-icons-name {
  font-size: 15px;
  font-weight: 900;
}

.required-asterisk {
  color: red;
  font-weight: bold;
  margin-left: 2px;
  font-size: 1em;
  vertical-align: -6px;
}
