/* Tablet Screen */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin-left: -15px;
    padding: 0;
    max-width: 700px;
  }

  .signup-content,
  .signin-content {
    margin: 0 0 0 35px;
    padding: 0;
    @include flex-direction(row);
    @include justify-content(center);
  }

  .signup-image,
  .signin-image {
    display: none;
  }

  .signup-form,
  .signin-form {
    margin: 0;
    padding: 0;
    width: 400px;
  }

  .social-login {
    @include justify-content(center);
  }

  .signin-form {
    @include order(1);
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .login-form-title {
    margin-top: -60px;
  }

  .language-toolbar {
    @include justify-content(left);
    scale: 0.5;
  }
}

/* Mobile Screen */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    margin-left: -5px;
    padding: 0;
    max-width: auto;
  }

  .signup-content,
  .signin-content {
    margin: 0 0 0 40px;
    padding: 0;
    @include flex-direction(row);
    @include justify-content(center);
  }

  .signup-image,
  .signin-image {
    display: none;
  }

  .signup-form,
  .signin-form {
    margin: 0;
    padding: 0;
    max-width: 400px;
  }

  .social-login {
    @include justify-content(center);
  }

  .signin-form {
    @include order(1);
    margin-right: 0px;
    margin-left: 0px;
    padding: 0 30px;
  }

  .language-toolbar {
    @include justify-content(left);
    scale: 0.5;
  }

  .login-form-submit {
    margin-right: 10px;
  }

  .register-form-submit {
    margin-left: 0;
  }
}

/* Mobile Screen */
@media only screen and (min-width: 450px) and (max-width: 576px) {
  .container {
    padding: 0;
    max-width: 350px;
  }

  .signup-content,
  .signin-content {
    margin: 0 -35px 0 15px;
    padding: 0;
    @include flex-direction(row);
    @include justify-content(center);
  }

  .signup-image,
  .signin-image {
    display: none;
  }

  .signup-form,
  .signin-form {
    max-width: 400px;
    margin: 0 0 0 0;
    padding: 0;
  }

  .login-form-title {
    margin-top: -60px;
  }

  .language-toolbar, .language-toolbar-right {
    display: none;
  }

  .login-form-submit {
    margin-right: 5px;
  }

  .register-form-submit {
    margin-left: 0;
  }
}

/* Mobile Screen */
@media only screen and (max-width: 450px) {
  .container {
    padding: 0;
    max-width: 350px;
  }

  .signup-content,
  .signin-content {
    margin: 0 -35px 0 10px;
    padding: 0;
    @include flex-direction(row);
    @include justify-content(center);
  }

  .signup-image,
  .signin-image {
    display: none;
  }

  .signup-form,
  .signin-form {
    max-width: 400px;
    margin: 0 0 0 0;
    padding: 0;
  }

  .login-form-title {
    margin-top: -60px;
  }

  .language-toolbar, .language-toolbar-right {
    display: none;
  }

  .login-form-submit {
    margin-right: 5px;
  }

  .register-form-submit {
    margin-left: 0;
  }
}
