@import '../../../assets/css/products/common/variables.scss';

.table-wrapper {
  background: #fff;
  padding: 10px 20px;
  border-radius: 3px;
}

.table-wrapper .btn {
  float: right;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-wrapper .btn:hover {
  color: $black-color;
  background: #f2f2f2;
}

.table-dark {
  background: $black-color;
}

fa-icon {
  transition: ease-in-out 150ms;
  &:hover {
    color: $orange-color;
  }
}

.table-title {
  color: $orange-color;
  background: $black-color;
  padding: 15px 20px;
  border-radius: 2px;

  .bg-cart {
    background: $orange-color;
  }
}

.table-title h2 {
  color: #fff;
  font-size: 26px;
}


.filter-group {
  margin: 1vw 1vh 1vh 1vw;
  float: right;
}

.filter-group select.form-control {
  display: inline;
  width: 175px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 80px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

table.table td a.view {
  width: 28px;
  height: 28px;
  color: $orange-color;
  border: 2px solid;
  border-radius: 4px;
  text-align: center;
  transition: 100ms ease-in;

  &:hover {
    color: #fff;
  }
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}

.text-confirmed {
  color: white;
}

.text-success {
  color: #10c469;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.bkg-orange {
  background: $orange-color;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination li.active a {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

@media only screen and (max-width: 768px) {
  tbody {
    font-size: 10px;
  }

  .table-title {
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1px;

    .buttons {
      margin-bottom: 2vh;

      .bg-cart {
        font-size: 14px;
        margin-top: 1vh;
        height: 13vh;
      }
    }
  }

  .table-title h2 {
    margin: 5px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 576px) {
  .table-title {
    .buttons {
      flex-direction: column;
      justify-content: center;
      .bg-cart {
        font-size: 12px;
        margin-top: 5vh;
        height: 25vh;
      }
    }
  }
}
