<app-header></app-header>

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="d-flex justify-content-between table-title">
        <div>
          <h2>{{ 'orders.list.label' | translate }}</h2>
        </div>
        <div class="d-flex buttons">
          <button class="btn bg-cart font-weight-bold" (click)="downloadUserOrdersAsPdf()">
            <i><fa-icon [icon]="['fas', 'file-pdf']"></fa-icon></i>
            <span class="ml-2">{{ 'orders.tracking.download-pdf' | translate }}</span>
          </button>
          <button class="btn bg-cart font-weight-bold" (click)="refreshPage()">
            <i><fa-icon [icon]="['fas', 'sync']"></fa-icon></i>
            <span class="ml-2">{{ 'orders.list.refresh' | translate }}</span>
          </button>
        </div>
        </div>
        <div class="table-filter">
          <div class="row">
            <div class="col">
              <div class="filter-group">
                <span class="filter-icon mr-1"><i><fa-icon [icon]="['fas', 'filter']"></fa-icon></i></span>
                <label class="mr-2">{{ 'orders.tracking.info.status.label' | translate }}</label>
                <select *ngIf="statesTranslations" (change)="onChangeOrderStatus($event)" class="form-control">
                  <option *ngFor="let statusTranslation of statesTranslations; let idx = index"
                  [value]="statusTranslation.label" selected="idx == 0"> {{ statusTranslation.label }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <table id="ordersTable" class="table table-dark">
            <thead>
                <tr>
                    <th class="col-md-1 col-sm-1">#</th>
                    <th class="col-md-3 col-sm-3">{{ 'orders.list.table.date' | translate }}
                      <i (click)="onSortBy(DATE, ASCENDING)"><fa-icon [icon]="['fas', 'arrow-circle-up']"></fa-icon></i>
                      <i (click)="onSortBy(DATE, DESCENDING)"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon></i>
                    </th>
                    <th class="col-md-3 col-sm-3">{{ 'orders.list.table.status' | translate }}</th>
                    <th class="col-md-3 col-sm-3">{{ 'orders.list.table.price' | translate }}
                      <i (click)="onSortBy(PRICE, ASCENDING)"><fa-icon [icon]="['fas', 'arrow-circle-up']"></fa-icon></i>
                      <i (click)="onSortBy(PRICE, DESCENDING)"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon></i>
                    </th>
                    <th class="col-md-2 col-sm-1">{{ 'orders.list.table.details' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of filteredOrders; index as idx">
                    <td>{{ [idx+1] }}</td>
                    <td>{{ order.dateOfPurchase }}</td>
                    <td>{{ order.translatedState }}</td>
                    <td>{{ order.price }}Є</td>
                    <td>
                      <a [routerLink]="['../', order.id]" class="view">
                        <i><fa-icon [icon]="['fas', 'location-arrow']"></fa-icon></i>
                      </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
