<mat-toolbar [ngClass]="alignClass">
  <mat-form-field>
    <mat-label class="language-text">{{'languages.label' | translate}}</mat-label>
    <mat-select [disableOptionCentering]="true" #langSelect (selectionChange)="changeLanguage(langSelect.value)">
      <mat-option class="language-option" style="font-size: 1rem; font-family: Poppins"
        *ngFor="let lang of ['languages.english', 'languages.german', 'languages.romanian']"
        [value]="lang | translate">• {{ lang | translate }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>
