@import '../../../assets/css/products/layout/reset.scss';
@import '../../../assets/css/products/common/styles.scss';
@import '../../../assets/css/products/layout/responsive.scss';

.logout {
  &:hover {
    cursor: pointer;
  }
}
