<!-- Header -->
<header class="header shop">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <!-- Top Right -->
      <div class="right-content">
        <ul *ngIf="menuItems && logoutResource" class="list-main">
          <li *ngFor="let menuItem of menuItems">
            <i><fa-icon [icon]="['fas', menuItem.icon]"></fa-icon></i><a [routerLink]="[menuItem.uri]">{{ menuItem.name }}</a>
          </li>
          <li><i><fa-icon [icon]="['fas', logoutResource.icon]"></fa-icon></i><a class="logout" (click) = "logOut()" >{{ logoutResource.name }}</a></li>
        </ul>
      </div>
      <!-- End Top Right -->
    </div>
  </div>
  <div class="middle-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <!-- Logo -->
          <div class="logo">
            <a [routerLink]="['/products']"><img src="../../../assets/images/main-logo.png"/></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-8" *ngIf="searchResource">
          <div class="search-bar-top">
              <form>
                  <input name="search" type="text" (keyup)="searchProducts($event)" [placeholder]=searchResource.name>
                  <button class="search-button"><i><fa-icon [icon]="['fas','search']"></fa-icon></i></button>
              </form>
              <div *ngIf="searchedProducts" class="product-result-container">
                <div *ngFor="let searchedProduct of searchedProducts" class="product-result-object">
                  <div>
                    <a [routerLink]="['/products', searchedProduct.id]">
                      • {{ searchedProduct.name }}
                    </a>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <app-cart [headerCfg]="headerCfg"></app-cart>
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
</header>
