@import "../dashboard.component.scss";

.container-fluid {
  padding: 0;
  width: 45rem;
  min-height: 10rem;
  background-color: rgb(237, 241, 245);
  font-weight: bold;
}

.page-breadcrumb {
  padding: 15px 20px 36px;

  .page-title {
    margin-bottom: 0px;
    font-weight: 900;
    text-align: center;
  }

  .breadcrumb {
    background: 0 0;
    margin-bottom: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 12px;
  }
}

.white-box {
  background: #fff;
  padding: 0px 7px 0px 10px;
  margin: 10px 10px 20px 10px;
  box-shadow: $shadow-box-dark;

  .box-title {
    margin-left: 3px;
    line-height: 25px;
    font-size: 18px;
  }
}

.analytics-info {
  transition: 250ms ease-in;

  &:hover {
    transform: scale(1.02);
  }
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;

  .counter {
    font-size: 22px;
    color: $orange-color;
  }
}

.chart-icon {
  color: $orange-color;
}

.border-top-0 {
  border-top: 0 !important;
}

table {
  border-collapse: collapse;
}

tbody tr:not(:last-child) {
  border-bottom: 0.01rem solid rgb(158, 158, 158);
}

.order-row {
  transition: 100ms ease-in-out;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}

.comment-row {
  transition: 100ms ease-in-out;

  .comment-text {
    padding-left: 1.5rem;
    font-size: 12px;
    width: 100%;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}

.rating {
  display: inline;
}


@media only screen and (max-width: 1024px) {
  .container-fluid {
    width: 29rem;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid {
    margin-top: -0.5rem;
  }
}

@media only screen and (max-width: 512px) {
  .container-fluid {
    width: 20rem;
    margin-top: -2.75rem;
  }

  .page-breadcrumb {
    .page-title {
      margin-top: 15vh;
      margin-bottom: -10vh;
      font-size: 14px;
    }
  }

  .list-inline {
    margin-left: 4vw;

    .counter {
      font-size: 16px;
    }
  }

  .table-body {
    font-size: 7px;
  }

  .rating fa-icon {
    margin-left: 1.25rem;
  }

  .pull-right {
    float: right;
  }

  .comment-row {
    transition: 100ms ease-in-out;

    .comment-text {
      padding-left: 1.0rem;
      font-size: 8px;
      width: 100%;
    }
  }

}
