<div class="container-fluid">
  <div class="page-breadcrumb bg-white">
    <h4 class="page-title">
      {{'dashboard.statistics.label' | translate }}
    </h4>
  </div>

  <div class="row justify-content-center">
    <div *ngFor="let mainChart of mainChartsData" class="col-lg-4 col-md-12">
      <div class="white-box analytics-info">
        <h5 class="box-title text-center">{{ mainChart.name }}</h5>
        <ul class="list-inline d-flex align-items-center justify-content-between">
          <li>
            <i class="chart-icon"><fa-icon [icon]="['fas', 'chart-bar']" size="2x"></fa-icon></i>
          </li>
          <li class="ms-auto">
            <span class="counter font-weight-bold">{{ mainChart.value }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <p class="mt-1 mb-2 font-weight-bold">{{'dashboard.statistics.products-categories-count' | translate }}</p>
    </div>
    <div class="mb-3 col-11">
      <ngx-charts-bar-vertical
      [results]="productsCategoriesData"
      [scheme]="colorScheme"
      [xAxis]="true"
      [yAxis]="true">
      </ngx-charts-bar-vertical>
    </div>
  </div>

  <div class="row">
    <div class="col-12 table-body">
      <div class="white-box px-0">
        <div class="d-md-flex mb-3">
          <h3 class="box-title mt-2 ml-2 mb-0 font-weight-bold">{{'dashboard.statistics.recent-sales' | translate }}</h3>
        </div>
        <div class="table-responsive">
          <table>
            <thead class="chart-icon">
              <tr>
                <th class="col-3">{{"orders.list.table.name" | translate }}</th>
                <th class="col-3">{{"orders.list.table.status" | translate }}</th>
                <th class="col-3">{{"orders.list.table.date" | translate }}</th>
                <th class="col-1">{{"orders.list.table.price" | translate }}</th>
              </tr>
            </thead>
            <tbody class="text-muted font-weight-normal">
              <tr class="order-row" *ngFor="let order of ordersObs | async">
                <td class="p-3 text-nowrap">{{ order.userDto.name }}</td>
                <td class="p-3">{{ order.status }}</td>
                <td class="p-3">{{ order.dateOfPurchase }}</td>
                <td><span class="p-3 font-weight-bold text-success">{{ order.price }}€</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="white-box">
        <div class="d-md-flex">
          <h3 class="box-title mt-2 mb-2 ml-2 font-weight-bold">
            {{ 'dashboard.statistics.recent-reviews' | translate }}
          </h3>
        </div>
        <div class="comment-widgets">
            <div *ngFor="let review of reviewsObs | async" class="row comment-row mt-1 mb-2 p-1">
              <div class="col-lg-1 col-md-2 col-sm-2">
                <div class="p-1">
                  <img src="{{ review.userDto.userDetailsDto.picture }}" class="rounded" width="50px" height="50px">
                </div>
              </div>
              <div class="col-lg-11 col-md-10 col-sm-10 comment-text">
                <h6>{{ review.userDto.name }}</h6>
                <p class="mb-1 text-muted text-break">{{ review.content }}</p>
                <div class="comment-footer d-md-flex flex-row align-items-center justify-content-between">
                  <p class="rating mt-1">
                    <span class="font-weight-bold mr-2">{{ review.rating }}</span>
                    <i *ngFor="let star of [].constructor(review.rating)" class="star">
                      <fa-icon class="chart-icon" [icon]="['fas', 'star']"></fa-icon>
                    </i>
                    <span class="ml-2">[{{ review.productName }}]</span>
                  </p>
                  <div class="text-muted pull-right mt-md-n2">{{ review.dateOfPosting }}</div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
