<app-header></app-header>

	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">
						<div class="col-lg-8 col-12">
              <div class="form-main">
								<div class="title">
                  <h4>{{'about.title' | translate }}</h4>
                  <p>{{'about.description' | translate }}</p>
                </div>
              </div>
							<div class="form-main">
								<div class="title">
									<h4>{{'about.contact.label' | translate }}</h4>
									<h3>{{'about.contact.description' | translate }}</h3>
								</div>
                <form class="form" method="POST" *ngIf="messageForm" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
									<div class="row">
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>{{ 'about.form.name' | translate }}<span>*</span></label>
												<input formControlName="name" type="text" [ngClass]="{ 'is-invalid': submitted && form.name.errors }" placeholder="">
                        <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                          <div *ngIf="form.name.errors?.required">{{ 'about.form.validation.name-required' | translate }}</div>
                        </div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>{{ 'about.form.subject' | translate }}<span>*</span></label>
												<input formControlName="subject" type="text" [ngClass]="{ 'is-invalid': submitted && form.subject.errors }" placeholder="">
                        <div *ngIf="submitted && form.subject.errors" class="invalid-feedback">
                          <div *ngIf="form.subject.errors?.required">{{ 'about.form.validation.subject-required' | translate }}</div>
                        </div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>{{ 'about.form.email' | translate }}<span>*</span></label>
												<input formControlName="email" type="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }" placeholder="">
                        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                          <div *ngIf="form.email.errors?.required">{{ 'about.form.validation.email-required' | translate }}</div>
                          <div *ngIf="form.email.errors?.email">{{ 'about.form.validation.email-invalid' | translate }}</div>
                        </div>
											</div>
										</div>
										<div class="col-lg-6 col-12">
											<div class="form-group">
												<label>{{ 'about.form.phone' | translate }}<span>*</span></label>
												<input formControlName="phone" type="tel" [ngClass]="{ 'is-invalid': submitted && form.phone.errors }" placeholder="">
                        <div *ngIf="submitted && form.phone.errors" class="invalid-feedback">
                          <div *ngIf="form.phone.errors?.required">{{ 'about.form.validation.phone-required' | translate }}</div>
                          <div *ngIf="form.phone.errors?.tel">{{ 'about.form.validation.phone-invalid' | translate }}</div>
                        </div>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group message">
												<label>{{ 'about.form.content' | translate }}<span>*</span></label>
												<textarea formControlName="content" [ngClass]="{ 'is-invalid': submitted && form.content.errors }" placeholder=""></textarea>
                        <div *ngIf="submitted && form.content.errors" class="invalid-feedback">
                          <div *ngIf="form.content.errors?.required">{{ 'about.form.validation.content-required' | translate }}</div>
                        </div>
											</div>
										</div>
										<div class="col-12">
											<div class="form-group button">
												<button class="btn">{{ 'about.form.button' | translate }}</button>
											</div>
										</div>
                    <p [ngClass]="displayMessage.type === 'error' ? 'mt-2 mx-auto text-danger font-weight-bold' : 'mt-2 mx-auto text-warning font-weight-bold'">{{ displayMessage.content }}</p>
									</div>
								</form>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="single-head">
								<div class="single-info">
									<i><fa-icon [icon]="['fas','phone']"></fa-icon></i>
									<h4 class="title">{{'about.contact.title' | translate }}</h4>
									<ul>
										<li>{{'about.contact.phone' | translate }}</li>
									</ul>
								</div>
								<div class="single-info">
									<i><fa-icon [icon]="['fas','envelope']"></fa-icon></i>
									<h4 class="title">{{'about.contact.email.label' | translate }}</h4>
									<ul>
										<li><a href="mailto:info@ngob.com">{{'about.contact.email.value' | translate }}</a></li>
									</ul>
								</div>
								<div class="single-info">
									<i><fa-icon [icon]="['fas','location-arrow']"></fa-icon></i>
									<h4 class="title">{{'about.contact.address.label' | translate }}</h4>
									<ul>
										<li>{{'about.contact.address.value' | translate }}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->
<app-footer></app-footer>
