<app-header></app-header>

<div *ngIf="product && reviewsSummary" class="container mb-3">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-6 border-end">
        <div class="d-flex flex-column justify-content-center">
          <div class="main_image">
            <img src="{{'data:image/jpg;base64,' + product.imageData}}" width="200" height="auto">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-3 right-side">
          <div class="d-flex justify-content-between align-items-center">
              <h3>{{ product.name }}</h3>
          </div>
          <div class="pr-3 content">
            <p>{{ product.description }}</p>
          </div>
          <h4 [ngClass]="product.discountPrice ? 'mt-1 full-price text-danger font-weight-bold' : 'mt-1 font-weight-bold'">{{ product.price }}€</h4>
          <span *ngIf="product.discountPrice" class="small ml-1 font-italic">({{ product.discountPercentage.toFixed(0) }}%)</span>
          <h3 *ngIf="product.discountPrice" class="mt-1">{{ product.discountPrice }}€</h3>
          <div class="ratings d-flex flex-row align-items-center">
            <ng-container *ngIf="reviewsSummary.reviewsCount == 0">
              <div *ngFor="let star of [].constructor(5)" class="d-flex flex-row star-gray">
                <i><fa-icon [icon]="['fas', 'star']"></fa-icon></i>
              </div>
            </ng-container>
            <ng-container *ngIf="reviewsSummary.reviewsCount > 0">
              <div *ngFor="let star of productStarsCount" class="d-flex flex-row star">
                <i>
                  <fa-icon [icon]="['fas', 'star']"></fa-icon></i>
              </div>
            </ng-container>
            <span>{{ reviewsSummary.reviewsCount }} {{ "products.details.main.reviews-count-label" | translate }}</span>
          </div>
          <div *ngIf="product.stockCount > 0" class="buttons d-flex flex-row mt-5 gap-3">
            <button class="btn btn-outline-dark font-weight-bold" (click)="buyProduct()">{{ "products.details.main.buy-now-label" | translate }}</button>
            <button class="btn btn-dark font-weight-bold" (click)="addToCart()">{{ "products.details.main.add-to-cart-label" | translate }}</button>
          </div>
          <div *ngIf="product.stockCount < 0" class="btn no-stock disabled mt-4">
              <span>
                <i class="mr-2"><fa-icon [icon]="['fas', 'ban']"></fa-icon></i>{{ "products.details.main.not-in-stock-label" | translate }}
              </span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav *ngIf="navTabsMap.size > 0" class="nav nav-pills nav-fill py-3">
    <a *ngFor="let navTab of navTabsMap | keyvalue" (click)="selectedNavTab = navTab.key" class="nav-link" [class.active-tab]="selectedNavTab===navTab.key"
      data-toggle="tab" role="tab">{{ navTab.value }}
    </a>
  </nav>
  <div *ngIf="selectedNavTab === INFORMATION_LABEL" class="list-group mb-3">
    <a *ngFor="let informationEntry of informationMap | keyvalue" class="list-group-item">
      <h6 class="list-group-item-heading">{{ informationEntry.key }}</h6>
      <p class="list-group-item-text">{{ informationEntry.value }}</p>
    </a>
  </div>
  <div *ngIf="selectedNavTab === REVIEWS_LABEL" class="container-fluid px-1 py-4">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center mb-5">
        <div class="card-reviews">
          <div class="row d-flex">
            <div class="col-md-4 d-flex flex-column justify-content-center align-items-center">
              <div *ngIf="product.rating > 0" class="rating-box">
                <h1 class="pt-4">{{ product.rating }}</h1>
                <p>{{ "products.details.reviews-tab.out-of-label" | translate }} 5</p>
              </div>
              <div *ngIf="product.rating == 0" class="rating-box">
                <h2 class="pt-5">N/A</h2>
              </div>
              <div class="write-review">
                <button *ngIf="reviewAlreadyPublished" [disabled]="true" class="btn btn-dark star-disabled">{{ "products.details.reviews-tab.already-published" | translate }}</button>
                <button *ngIf="!reviewAlreadyPublished" (click)="toggleReviewPublishing()" class="btn btn-dark star">{{ "products.details.reviews-tab.write-own" | translate }}</button>
              </div>
            </div>
            <div class="col-md-8">
              <div class="rating-bar">
                <table class="text-left">
                  <tr *ngFor="let reviewInfo of reviewInfos">
                    <td class="rating-label">{{ reviewInfo.category }}</td>
                    <td class="rating-bar">
                      <div class="bar-container">
                        <div>
                          <i *ngFor="let stars of reviewInfo.starsArray" [ngClass]="reviewInfo.count > 0 ? 'star-review' : 'star-review-gray'">
                            <fa-icon [icon]="['fas', 'star']"></fa-icon>
                          </i>
                        </div>
                      </div>
                    </td>
                    <td *ngIf="reviewInfo.count" class="text-right font-weight-bold">{{ reviewInfo.count }}</td>
                    <td *ngIf="!reviewInfo.count" class="text-right font-weight-bold">N/A</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="publishingReview" class="card-reviews">
          <div class="row d-flex">
            <div class="">
              <img class="profile-pic" [src]="loggedUser.userDetailsDto.picture ? loggedUser.userDetailsDto.picture : '../../../assets/images/user-profile.png'">
            </div>
            <div class="d-flex flex-column">
              <h3 class="mt-n1 ml-3">{{ loggedUser.name }}</h3>
              <bar-rating class="ml-3 mb-n1 mt-n4" [(rate)]="productRating" [max]="5"></bar-rating>
            </div>
            <div class="ml-auto">
              <p class="text-muted pt-5 pt-sm-5">{{ todayDate }}</p>
            </div>
          </div>
          <div class="row text-left">
            <textarea class="form-control content mt-2 mr-auto" rows="4" name="reviewContent" [(ngModel)]="reviewContent" [placeholder]="'products.details.reviews-tab.write-own' | translate"></textarea>
          </div>
          <button class="btn btn-outline-dark font-weight-bold mt-3" (click)="publishReview()">{{ "products.details.reviews-tab.write-own-publish" | translate }}</button>
          <p [ngClass]="responseMessage?.success ? 'mt-2 mb-n1 text text-success font-weight-bold' : 'mt-2 text text-danger font-weight-bold'">{{ statusMessage }}</p>
        </div>

        <ng-container *ngIf="reviewList.length > 0">
          <div *ngFor="let review of reviewList" class="card-reviews">
            <div class="row d-flex">
              <div>
                <img class="profile-pic" [src]="review.userDto.userDetailsDto.picture ? review.userDto.userDetailsDto.picture : '../../../assets/images/user-profile.png'">
              </div>
              <div class="d-flex flex-column">
                <h3 class="mt-n1 mb-n1 ml-3">{{ review.userDto.name }}</h3>
                <div>
                  <p class="text-left mt-1">
                    <span class="font-weight-bold ml-3 mr-2">{{ review.rating }}</span>
                    <i *ngFor="let star of [].constructor(review.rating)" class="star">
                      <fa-icon [icon]="['fas', 'star']"></fa-icon>
                    </i>
                  </p>
                </div>
                <span *ngIf="review.verifiedPurchase" class="mt-n3 ml-n3">
                  <i class="verified">
                    <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
                  </i>
                  <p class="font-weight-bold" style="display:inline">
                    {{ "products.details.reviews-tab.verified-purchase" | translate }}
                  </p>
                </span>
              </div>
              <div class="ml-auto">
                <p class="text-muted pt-3 pt-sm-3">{{ review.dateOfPosting }}</p>
              </div>
            </div>
            <div class="row text-left">
              <p class="content mt-2">{{ review.content }}</p>
            </div>
          </div>
        </ng-container>

        <div *ngIf="reviewList.length == 0" class="card-reviews pt-3">
          <h6>{{ 'products.details.main.no-reviews-label' | translate }}</h6>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedNavTab === RELATED_PRODUCTS_LABEL" class="container d-flex justify-content-center">
    <div class="row">
      <div *ngIf="relatedProducts.length <= 0">
        <h5>{{ 'products.details.main.no-related-products-label' | translate }}</h5>
      </div>
      <div *ngFor="let relatedProduct of relatedProducts" class="card-related ml-2 mb-4">
        <div class="card-body">
          <div class="card-img-actions">
            <img class="default-img" src="{{'data:image/jpg;base64,' + relatedProduct.imageData}}" width="200px" height="auto"/>
          </div>
        </div>
        <div class="card-body bg-light text-center">
          <div class="mb-2">
            <h6 class="font-weight-semibold mb-1">
              <a [routerLink]="['/products/', relatedProduct.id]" class="text-default font-weight-bold summary mb-1" >{{ relatedProduct.name }}</a>
            </h6>
          </div>
          <span [ngClass]="relatedProduct.discountPrice ? 'mt-1 mb-1 full-price text-danger font-weight-bold' : 'mt-1 mb-1 font-weight-bold'">{{ relatedProduct.price }}€</span>
          <span *ngIf="relatedProduct.discountPrice" class="small ml-1 font-italic">{{ relatedProduct.discountPercentage }}</span>
          <h3 *ngIf="relatedProduct.discountPrice" class="mb-1 mt-1 font-weight-bold">{{ relatedProduct.discountPrice }}€</h3>
          <div>
            <span *ngIf="relatedProduct.rating > 0">
              <i *ngFor="let star of [].constructor(relatedProduct.rating | round)" class="star">
                <fa-icon [icon]="['fas', 'star']"></fa-icon>
              </i>
            </span>
            <span *ngIf="relatedProduct.rating == 0">
              <i *ngFor="let star of [].constructor(5)" class="star-gray">
                <fa-icon [icon]="['fas', 'star']"></fa-icon>
              </i>
            </span>
          </div>
          <div class="text-muted mb-3">{{ relatedProduct.reviewsCount }} {{ "products.grid.reviews-count-label" | translate }}</div>
          <button type="button" class="btn bg-cart" (click)="addRelatedProductToCart(relatedProduct)">
            <span>
              <i class="mr-2"><fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon></i>{{ "products.index.cart.add" | translate }}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
