@import '../../../assets/css/products/common/variables.scss';

body {
  background-color: #ecedee
}

h4 {
  display: inline;
}

h5 {
  font-family: 'Roboto', 'Times New Roman', Times, serif;
}

.mt-15 {
  margin-top: 15vh;
}

.card {
  border: none;
  overflow: hidden
}

.main_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  overflow: hidden
}

.content p {
  font-size: 13px
}

.btn-outline-dark {
  &:hover {
    color: $black-color;
    background-color: $orange-color;
  }
}

.btn-dark {
  background-color: $black-color;

  &:hover {
    color: white;
  }
}

.ratings span {
  font-size: 14px;
  margin-left: 12px
}

.right-side {
  position: relative
}

.buttons .btn {
  height: 50px;
  width: 150px;
  border-radius: 0px !important
}

.star {
  color: $orange-color;
  margin-left: 0.1vw;
  font-weight: bold;

  &-gray {
    color: gray;
    margin-left: 0.125vw;
  }

  &-disabled {
    color: lightsteelblue;
    margin-left: 0.125vw;
    opacity: 1;
    transition: all 250ms ease;

    &:hover {
      opacity: 0.75;
      color: $orange-color;
    }
  }
}

.star-review {
  color: $orange-color;
  margin-left: 0.3vw;
  font-weight: bold;

  &-gray {
    color: lightsteelblue;
    margin-left: 0.35vw;
  }
}

input.star:checked ~ label.star:before {
  color: pink !important;
}

label.star:before {
  font-size: 0.75rem;
}

div.stars {
  width: auto !important;
}


.nav-link {
  font-weight: bold;
  color: $black-color;
  transition: 500ms;

  &:hover {
    color: $orange-color;
    cursor: pointer;
  }
}

.active-tab {
  border-bottom: 3px $orange-color solid;
}

a:hover {
  color: #455A64
}

.full-price {
  font-size: 20px;
  text-decoration: line-through;
}

.no-stock {
  font-weight: bold;
  padding-top: 5px;
  background-color: red;
  color: white;
  border-radius: 0.15rem;

  &:hover {
    cursor: no-drop;
    background-color: $black-color;
    color: white;
  }
}

.card-reviews {
  border-radius: 3px;
  border: solid 2px $black-color;
  padding: 10px 30px;
  margin-top: 10px;
}

.rating-box {
  width: 130px;
  height: 130px;
  background-color: $black-color;
  color: #fff
}

.rating-label {
  padding-top: 6px;
  font-weight: bold
}

.rating-bar {
  width: 95%;
  padding: 4px;
}

.write-review {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.bar-container {
  width: 100%;
  background-color: rgb(54, 54, 50);
  text-align: center;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.review-area {
  display: flex;
}

.review-area > * {
  flex: 1 1 0;
}

.text-right {
  padding-top: 8px;
}

td {
  padding-bottom: 10px
}

.list-group-item-text {
  margin-bottom: -3px;
}

.content {
  font-size: 14px;
  word-break: break-all;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.verified {
  color: green;
}

.card-related {
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  text-align: center;
}

a {
  color: $black-color;
  text-decoration: none !important;
  transition: 500ms;
}

.card-img-actions {
  position: relative
}

.summary {
  &:hover {
    color: $orange-color;
  }
}

.bg-cart {
  background-color: $orange-color;
  color: #fff;
  border-radius: 0.15rem;
  border: none;
}

.bg-cart:hover {
  background-color: black;
  cursor: pointer;
  color: #fff
}
