<div class="mt-2">
  <div class="text-center">
      <h1 class="text-warning">{{'miscellaneous.page-not-found.code' | translate }}</h1>
      <h3 class="text-uppercase error-subtitle">{{'miscellaneous.page-not-found.title' | translate }}</h3>
      <p class="text-muted mt-n1 mb-3">{{'miscellaneous.page-not-found.description' | translate }}</p>
      <a class="btn btn-warning btn-rounded mb-2 font-weight-bold" [routerLink]="['/products']">{{'miscellaneous.page-not-found.go-home' | translate }}</a>
  </div>
</div>
