<div class="overlay card-img-overlay d-flex justify-content-center align-items-center">
  <div class="card border-0 bg-transparent" [style.width.px]="150">
    <mat-progress-spinner
      *ngIf="isLoading"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [strokeWidth]="10"
      [diameter]="150"
      class="card-img">
    </mat-progress-spinner>
    <div *ngIf="isLoading"
      class=" card-img-overlay d-flex justify-content-center align-items-center p-0">
      <h4 class="letter-spacing text-muted text-center font-weight-normal">
        {{ 'miscellaneous.loading' | translate }}
      </h4>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <app-header></app-header>
  <app-index></app-index>
  <app-footer></app-footer>
</div>
