<div class="dialog">
  <h1 mat-dialog-title>{{ 'products.index.cart.dialog.label' | translate }}</h1>
  <mat-dialog-content>
    <div *ngIf="dialogData.orderStatus === orderStatus.InProgress" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'spinner']" size="5x" class="warning"></fa-icon></i>
      <p>{{ 'products.index.cart.dialog.in-progress' | translate }}</p>
    </div>
    <div *ngIf="dialogData.orderStatus === orderStatus.OutOfStockProducts" class="d-flex flex-column justify-content-center align-items-center">
      <i *ngIf="dialogData.orderResponse.inStockCartProducts.length > 0"><fa-icon [icon]="['fas', 'question']" size="5x" class="warning"></fa-icon></i>
      <i *ngIf="dialogData.orderResponse.inStockCartProducts.length == 0"><fa-icon [icon]="['fas', 'exclamation-triangle']" size="5x" class="warning"></fa-icon></i>
      <p>{{ 'products.index.cart.dialog.out-of-stock-products' | translate }}</p>
      <div>
        <ul class="no-bullets">
          <li *ngFor="let cartProduct of dialogData.orderResponse.inStockCartProducts">
            <span class="font-weight-bold">
              <a [routerLink]="['/products', cartProduct.product.id]" class="text-orange">{{ cartProduct.product.name }}</a>
            </span>
            <span class="quantity">
              | {{ cartProduct.quantity }}x - <span class="amount">{{ cartProduct.totalPrice }}€</span>
            </span>
            <hr>
          </li>
        </ul>
      </div>
      <p *ngIf="dialogData.orderResponse.inStockCartProducts.length > 0">{{ 'products.index.cart.dialog.in-stock-products' | translate }}</p>
    </div>
    <div *ngIf="dialogData.orderStatus === orderStatus.PaymentUnsuccessful" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'exclamation-triangle']" size="5x" class="danger"></fa-icon></i>
      <p>{{ 'products.index.cart.dialog.payment-failed' | translate }}</p>
    </div>
    <div *ngIf="dialogData.orderStatus === orderStatus.CompletedSuccessfully" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'check-square']" size="5x" class="success"></fa-icon></i>
      <p>{{ 'products.index.cart.dialog.successful-order' | translate }}</p>
    </div>
    <div *ngIf="dialogData.orderStatus === orderStatus.InternalServerError" class="d-flex flex-column justify-content-center align-items-center">
      <i><fa-icon [icon]="['fas', 'exclamation-triangle']" size="5x" class="danger"></fa-icon></i>
      <p>{{ 'products.index.cart.dialog.generic-error' | translate }}</p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="dialogData.orderStatus !== orderStatus.InProgress && dialogData.orderStatus !== orderStatus.CompletedSuccessfully"
    mat-button (click)="onCancelClick()">{{ 'products.index.cart.dialog.cancel' | translate }}</button>
    <button *ngIf="dialogData.orderStatus === orderStatus.OutOfStockProducts && dialogData.orderResponse.inStockCartProducts.length > 0"
    mat-button [mat-dialog-close]="orderStatusValue" cdkFocusInitial (click)="onConfirmClick()">{{ 'products.index.cart.dialog.confirm' | translate }}</button>
    <button *ngIf="dialogData.orderStatus === orderStatus.CompletedSuccessfully"
    mat-button [mat-dialog-close]="orderStatusValue" cdkFocusInitial (click)="onViewOrderDetails()">{{ 'products.index.cart.dialog.view-order' | translate }}</button>
  </mat-dialog-actions>
</div>
