@import '../../../../assets/css/products/common/variables.scss';

body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
}

.plus-minus {
  position: relative
}

.quantity {
  width: 75px;
  text-align: right;
}

.image {
  width: 60px;
  height: 35px;
}

.book,
.book-img {
  width: 120px;
  height: 180px;
  border-radius: 5px
}

.book {
  margin: 20px 15px 5px 15px
}

.border-top {
  border-top: 1px solid #EEEEEE !important;
  margin-top: 20px;
  padding-top: 15px
}

.card {
  margin: 15px 0px;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.2)
}

.mob-text {
  font-size: 16px;
  &-name {
    color: $orange-color;
    transition: all 250ms;
    &:hover {
      font-weight: bold;
      cursor: pointer;
      color: $black-color;
    }
  }
}

input,
textarea {
  background-color: #F3E5F5;
  padding: 8px 15px 8px 15px;
  width: 100%;
  border-radius: 5px !important;
  box-sizing: border-box;
  border: 1px solid #F3E5F5;
  font-size: 15px !important;
  color: #000 !important;
  font-weight: 300
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #9FA8DA;
  outline-width: 0;
  font-weight: 400
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.pay {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid $orange-color;
  margin: 10px 20px 10px 0px;
  cursor: pointer;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.2)
}

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
  color: #E0E0E0
}

.gray .pay {
  box-shadow: none
}

#tax {
  border-top: 1px lightgray solid;
  margin-top: 10px;
  padding-top: 10px
}

.btn-orange {
  border: none;
  border-radius: 3px;
  background-color: $orange-color;
  color: #fff;
  padding: 8px 15px;
  margin: 20px 0px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}

.btn-orange:hover {
  background-color: $black-color;
  color: #fff
}

#checkout {
  float: left
}

#check-amt {
  float: right
}

@media screen and (max-width: 768px) {

  .book,
  .book-img {
      width: 100px;
      height: 150px
  }

  .card {
      padding-left: 15px;
      padding-right: 15px
  }

  .mob-text {
      font-size: 13px
  }

  .pad-left {
      padding-left: 20px
  }
}

.empty-cart {
    margin-bottom: 30px;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    letter-spacing: .5px;
    border-radius: 8px;
    -webkit-box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
    box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05)
}

h3 {
  color: $orange-color;
}

.btn-warning,
.btn-warning.disabled,
.btn-warning:disabled {
    transition: 200ms ease-in;
    color: $orange-color;
    background-color: $black-color;
    border-color: $orange-color;
    &:hover {
      color: $black-color;
      background-color: $orange-color;
      border-color: $black-color;
    }
}

