<app-header></app-header>

  <div *ngIf="!isCartEmpty" class="container-fluid px-1 py-2 mx-auto">

    <div class="card">
      <div class="row d-flex justify-content-center">
        <div class="col-5">
          <h4 class="heading">{{ "products.index.cart.details.label" | translate }}</h4>
        </div>
        <div class="col-7">
          <div class="row text-right">
            <div class="col-6">
              <h6 class="mt-2">{{ "products.index.cart.details.quantity" | translate }}</h6>
            </div>
            <div class="col-6">
              <h6 class="mt-2">{{ "products.index.cart.details.price" | translate }}</h6>
            </div>
          </div>
        </div>
      </div>

      <ng-container *ngIf="cartProducts">
        <div *ngFor="let cartProduct of cartProducts; index as idx" class="row d-flex justify-content-center border-top">
          <div class="col-5">
            <div class="row d-flex">
              <div class="book">
                <img src="{{ 'data:image/jpg;base64,' + cartProduct.product.imageData }}" class="book-img"/>
              </div>
              <div class="my-auto flex-column d-flex pad-left">
                <a [routerLink]="['/products', cartProduct.product.id]" class="nav-item mob-text-name">{{ cartProduct.product.name }}</a>
                <p class="mob-text">{{ cartProduct.product.subCategory ? cartProduct.product.subCategory : cartProduct.product.category }}</p>
              </div>
            </div>
          </div>
          <div class="my-auto col-7">
            <div class="row text-right">
              <div class="col-6">
                <div class="row d-flex justify-content-end px-3">
                  <input type="number" class="form-control quantity mb-0 border rounded" name="cartProducts[idx]" [ngModel]="cartProducts[idx].quantity"
                  (change)="changeProductQuantity(cartProduct.product, $event)" [attr.placeholder]="cartProduct.quantity">
                </div>
              </div>
              <div class="col-6">
                <h6 class="mob-text">{{ cartProduct.totalPrice }}€</h6>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <hr>

    <form method="POST" *ngIf="orderFormGroup" [formGroup]="orderFormGroup" id="orderFormGroup" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div>
            <h4 class="heading mb-5">{{ "products.index.cart.details.billing" | translate }}</h4>
          </div>
          <div class="column">
            <div class="form-group col-md-9">
              <p class="text-muted text-sm mb-0">{{'user.form.account.address' | translate }}</p>
              <input type="text" name="address" formControlName="address" size="65" [ngClass]="{ 'is-invalid': isSubmitted && form.address.errors }">
              <div *ngIf="isSubmitted && form.address.errors" class="invalid-feedback">
                <div *ngIf="form.address.errors?.required">{{ 'user.form.signup.address-required' | translate }}</div>
              </div>
            </div>
            <div class="form-group col-md-6">
              <p class="text-muted text-sm mb-0">{{'user.form.account.email' | translate }}</p>
              <input type="text" name="email" formControlName="email" size="65" [ngClass]="{ 'is-invalid': isSubmitted && form.email.errors }">
              <div *ngIf="isSubmitted && form.email.errors" class="invalid-feedback">
                <div *ngIf="form.email.errors?.required">{{ 'user.form.signup.email-required' | translate }}</div>
                <div *ngIf="form.email.errors?.email">{{ 'user.form.signup.email-invalid' | translate }}</div>
              </div>
            </div>
            <div class="form-group col-md-3">
              <p class="text-muted text-sm mb-0">{{'user.form.account.phone' | translate }}</p>
              <input type="phone" name="phone" formControlName="phone" size="65" [ngClass]="{ 'is-invalid': isSubmitted && form.phone.errors }">
              <div *ngIf="isSubmitted && form.phone.errors" class="invalid-feedback">
                <div *ngIf="form.phone.errors?.required">{{ 'user.form.signup.phone-required' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card">
          <div>
            <h4 class="heading mb-5">{{ "products.index.cart.details.payment" | translate }}</h4>
          </div>
          <div class="row">
            <div class="col-lg-7 mt-1">
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <p class="text-muted text-sm mb-0">{{'user.form.account.card.owner-name' | translate }}</p>
                    <input type="text" name="ownerName" formControlName="ownerName" [ngClass]="{ 'is-invalid': isSubmitted && form.ownerName.errors }">
                    <div *ngIf="isSubmitted && form.ownerName.errors" class="invalid-feedback">
                      <div *ngIf="form.ownerName.errors?.required">{{ 'products.index.cart.card.owner-name-required' | translate }}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <p class="text-muted text-sm mb-0">{{'user.form.account.card.number' | translate }}</p>
                    <input type="text" (input)="onCardNumberInputChange($event)" name="cardNumber" formControlName="cardNumber" minlength="19" maxlength="19" [ngClass]="{ 'is-invalid': isSubmitted && form.cardNumber.errors }">
                    <div *ngIf="isSubmitted && form.cardNumber.errors" class="invalid-feedback">
                      <div *ngIf="form.cardNumber.errors?.required">{{ 'products.index.cart.card.card-number-required' | translate }}</div>
                      <div *ngIf="form.cardNumber.errors?.minlength">{{ 'products.index.cart.card.card-number-min-length' | translate }}</div>
                      <div *ngIf="form.cardNumber.errors?.maxlength">{{ 'products.index.cart.card.card-number-max-length' | translate }}</div>
                    </div>
                    <img *ngIf="cardImageResourcePath" class="image ml-1 mt-1" [src]="cardImageResourcePath">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <p class="text-muted text-sm mb-0">{{'user.form.account.card.expiry-date' | translate }}</p>
                    <input type="date" name="expiryDate" formControlName="expiryDate" size="8" minlength="8" maxlength="20" [ngClass]="{ 'is-invalid': isSubmitted && form.expiryDate.errors }">
                    <div *ngIf="isSubmitted && form.expiryDate.errors" class="invalid-feedback">
                      <div *ngIf="form.expiryDate.errors?.required">{{ 'products.index.cart.card.expiry-date-required' | translate }}</div>
                      <div *ngIf="form.expiryDate.errors?.minlength">{{ 'products.index.cart.card.expiry-date-min-length' | translate }}</div>
                      <div *ngIf="form.expiryDate.errors?.maxlength">{{ 'products.index.cart.card.expiry-date-max-length' | translate }}</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <p class="text-muted text-sm mb-0">{{'user.form.account.card.cvv-cvc-code' | translate }}</p>
                    <input type="number" name="cvvCvcCode" formControlName="cvvCvcCode" size="8" minlength="3" maxlength="3" [ngClass]="{ 'is-invalid': isSubmitted && form.cvvCvcCode.errors }">
                    <div *ngIf="isSubmitted && form.cvvCvcCode.errors" class="invalid-feedback">
                      <div *ngIf="form.cvvCvcCode.errors?.required">{{ 'products.index.cart.card.cvv-cvc-required' | translate }}</div>
                      <div *ngIf="form.cvvCvcCode.errors?.minlength">{{ 'products.index.cart.card.cvv-cvc-length' | translate }}</div>
                      <div *ngIf="form.cvvCvcCode.errors?.maxlength">{{ 'products.index.cart.card.cvv-cvc-length' | translate }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 ml-md-5 ml-0 mt-md-0 mt-3">
              <div class="row d-flex justify-content-between px-4">
                <p class="mb-1 text-left">{{ "products.index.cart.details.subtotal" | translate }}</p>
                <h6 class="mb-1 text-right">{{ cartSubtotal }}€</h6>
              </div>
              <div class="row d-flex justify-content-between px-4">
                <p class="mb-1 text-left">{{ "products.index.cart.details.shipping" | translate }}</p>
                <h6 class="mb-1 text-right">{{ SHIPPING_PRICE }}€</h6>
              </div>
              <div class="row d-flex justify-content-between px-4" id="tax">
                <p class="mb-1 text-left">{{ "products.index.cart.details.total" | translate }}</p>
                <h6 class="mb-1 text-right">{{ cartTotalPrice.toFixed(2) }}€</h6>
              </div>
              <button class="btn-block btn-orange" type="submit" form="orderFormGroup">
                <span>
                  <span id="checkout">{{ "products.index.cart.details.checkout" | translate }}</span>
                  <span id="check-amt">{{ cartTotalPrice.toFixed(2) }}€</span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  </div>

  <div *ngIf="isCartEmpty" class="container-fluid px-1 py-2 mx-auto">
    <div class="row">
      <div class="col-md-12">
          <div class="empty-cart">
              <div class="cart-body cart">
                  <div class="col-sm-12 empty-cart-cls text-center">
                    <img src="../../../../assets/images/empty-cart.png" width="125" height="125" class="img-fluid mb-4 mr-3">
                    <h3><strong>{{ "products.index.cart.empty" | translate }}</strong></h3>
                    <a [routerLink]="['/products']" class="btn btn-warning cart-btn-transform font-weight-bold m-2">{{ "products.index.cart.start-shopping" | translate }}</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>

