<div class="container-fluid">
  <div class="row">
    <div id="sidenav">
      <div id="logos">
        <div>
          <img class="logo" src="../../../assets/images/logo-dashboard.jpg"/>
        </div>
        <div>
          <img class="logo-small" src="../../../assets/images/logo-small.jpg"/>
        </div>
      </div>
      <div class="left-sidebar mt-n2">
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="sidebar-item pt-2">
              <a class="sidebar-link" [routerLink]="['./statistics']" [routerLinkActive]="['active']">
                <i><fa-icon [icon]="['fas', 'chart-pie']"></fa-icon></i>
                <span class="hide-menu">{{ 'dashboard.statistics.label' | translate }}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" [routerLink]="['./campaigns']" [routerLinkActive]="['active']">
                <i><fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon></i>
                <span class="hide-menu">{{ 'dashboard.campaigns.label' | translate }}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" [routerLink]="['./users']" [routerLinkActive]="['active']">
                <i><fa-icon [icon]="['fas', 'user']"></fa-icon></i>
                <span class="hide-menu">{{ 'dashboard.users.label' | translate }}</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" [routerLink]="['/products']">
                <i><fa-icon [icon]="['fas', 'window-close']"></fa-icon></i>
                <span class="hide-menu">{{ 'dashboard.others.exit-label' | translate }}</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
