// General
$theme-light: #fff;
$theme-dark: #212529;

$black-color: #222;
$blue-color: #6dabe4;
$grey-light: #999;
$orange-color: rgb(255, 166, 0);

$shadow-box-dark: 1px 0px 5px rgba(0, 0, 0, 0.1);
$fade-transition: 0.2s ease-out;

// Sidebar
$left-part-width: 240px;
$sidebar: $theme-dark;
$sidebar-text: $black-color;
$sidebar-width-full: 15rem;
$sidebar-width-mini: 4rem;
$sidebar-width-xs: 3rem;
$sidebar-icon-size: 15px;

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto
}

.logo-small {
  display: none;
}

.left-sidebar {
  width: $sidebar-width-full;
  height: 90vh;
  box-shadow: $shadow-box-dark;
}

.sidebar-nav {
  ul {
    .sidebar-item {
      background: rgb(255, 255, 255);
      width: $sidebar-width-full;
      font-family: Verdana;

      .sidebar-link {
        color: $sidebar-text;
        padding-top: 20px;
        padding-bottom: 20px;
        border-left: 3px solid transparent;
        display: flex;
        white-space: nowrap;
        align-items: center;
        font-weight: 300;
        transition: $fade-transition;

        i {
          font-style: normal;
          width: 40px;
          line-height: 25px;
          font-size: $sidebar-icon-size;
          text-align: center;
        }

        &:hover {
          text-decoration: none;
          background: #eff2f5;
        }

        &.active {
          font-weight: 700;
          border-left: 3px solid $orange-color;
        }
      }
    }
  }
}

.logo {
  width: $sidebar-width-full;
  box-shadow: $shadow-box-dark;
  margin-bottom: -2px;

  &:hover {
    cursor: pointer;
  }
}

.sidebar-nav {
  ul {
    margin: 0px;
    padding: 0px;

    li {
      list-style: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .left-sidebar {
    width: $sidebar-width-mini;
    background-color: $black-color;
    overflow: hidden;
  }

  .sidebar-link {
    width: $sidebar-width-mini;
    justify-content: center;
    background-color: $black-color;

    i {
      color: $orange-color !important;
      margin-bottom: -0.25rem;
    }

    &:hover {
      background: $black-color !important;

      i {
        color: white !important;
      }
    }
  }

  .hide-menu {
    display: none;
  }

  .logo {
    display: none;
  }

  .logo-small {
    box-shadow: $shadow-box-dark;
    width: $sidebar-width-mini;
    height: auto;
    display: block;

    &:hover {
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 500px) {
  .left-sidebar {
    width: $sidebar-width-xs;
    height: 100vh;
  }

  .logo-small {
    width: $sidebar-width-xs;
    height: 35px;
    margin-bottom: -1rem;
  }

  i
  {
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1.2rem;
    height: 5px;
  }
}
