/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~font-awesome/css/font-awesome.css';

@import '~@angular/material/theming';

@import '~ngx-bar-rating/themes/br-default-theme';

@include mat-core();

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin";

.backdrop {
  backdrop-filter: blur(10px);
}

mat-dialog-container {
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.mat-menu-panel {
  width: 8.25em;
  font-size: bold;
}

.header-class {
  color: $orange-color;
}

.ag-row-hover {
  transition: 100ms ease;
  background-color: $orange-color !important;
  color: black !important;
  cursor: pointer;
}

::selection {
  background: $orange-color;
}
