<app-header></app-header>

<section class="product-area shop-sidebar shop section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-12">
        <div class="shop-sidebar">
            <!-- Single Widget -->
            <div class="single-widget category">
              <h3 *ngIf="campaignId && campaign" class="campaign">{{ campaign.name }}</h3>
              <h3 *ngIf="!campaignId" class="title">{{ 'products.grid.side-panel.categories-label' | translate }}</h3>
              <ul *ngIf="!campaignId" class="category-list">
                <li *ngFor="let category of categories">
                  <a [ngClass]="{'activated': currentUrl.includes(category.key)}" [routerLink]="['/products/category', category.key]">{{ category.name }}</a>
                </li>
              </ul>
            </div>

            <!--/ End Single Widget -->
            <!-- Shop By Price -->
              <div class="single-widget range">
                <h3 class="title">{{ 'products.grid.side-panel.price-label' | translate }}</h3>
                <div class="price-filter">
                  <div class="price-filter-inner">
                      <div class="label-input">
                        <div class="range">{{ 'products.grid.side-panel.range-label' | translate }}</div>
                        <input class="d-inline first-price-slider" type="text" id="minimumAmount" [(ngModel)]="sliderMinPrice" (change)="onChangeMinPrice($event)" name="price"/>
                        <span class="line">-</span>
                        <input class="d-inline second-price-slider" type="text" id="maximumAmount" [(ngModel)]="sliderMaxPrice" (change)="onChangeMaxPrice($event)" name="price"/>
                      </div>
                  </div>
                </div>
              </div>
              <!--/ End Shop By Price -->
            <!-- Single Widget -->
            <div *ngIf="!campaignId" class="single-widget category">
              <h3 class="title">{{ 'products.grid.side-panel.brands-label' | translate }}</h3>
              <ul class="category-list">
                <li *ngFor="let brand of brands">
                  <a [ngClass]="{'activated': currentUrl.toLowerCase().includes(brand.toLowerCase())}" [routerLink]="['/products/brand/', brand]"> {{ brand }}</a>
                </li>
              </ul>
            </div>
            <!--/ End Single Widget -->
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-12">
        <div class="row">
          <div class="col-12">
            <!-- Shop Top -->
            <div class="shop-top">
              <div class="row">
                <div class="single-shorter col-lg-3 col-md-5 col-12">
                  <label>{{ 'products.grid.top-panel.show-label' | translate }}</label>
                  <select (change)="onChangeShowCount($event)">
                    <option *ngFor="let showCount of showCounts" [ngValue]="showCount" selected="selected">{{ showCount }}</option>
                  </select>
                </div>
                <div class="single-shorter col-lg-3 col-md-5 col-12">
                  <label>{{ 'products.grid.top-panel.sort.label' | translate }}</label>
                  <select *ngIf="sortByNames" (change)="onChangeSortName($event)">
                    <option *ngFor="let sortByName of sortByNames | slice: 1; let idx = index" [ngValue]="sortByName" [selected]="idx == 0">{{ sortByName }}</option>
                  </select>
                </div>
                <div class="single-shorter col-lg-3 col-md-5 col-12">
                  <label>{{ 'products.grid.top-panel.order.label' | translate }}</label>
                  <select *ngIf="sortOrders" (change)="onChangeSortOrder($event)">
                    <option *ngFor="let sortOrder of sortOrders | slice: 1; let idx = index" [ngValue]="sortOrder.key" [selected]="idx == 0">{{ sortOrder.label }}</option>
                  </select>
                </div>
              </div>
            </div>
            <!--/ End Shop Top -->
          </div>
        </div>
        <div class="container d-flex">
          <div class="row">
            <div *ngFor="let currentProduct of foundProducts | paginate: { itemsPerPage: currentSearchCriterion.size,
              currentPage: currentSearchCriterion.page + 1, totalItems: currentItemsCount }" class="col-lg-4 col-md-6 col-12 mt-2">
              <div class="card ml-2">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="default-img" src="{{'data:image/jpg;base64,' + currentProduct.imageData}}"/>
                  </div>
                </div>
                <div class="card-body bg-light text-center">
                  <div class="mb-2">
                    <h6 class="font-weight-semibold mb-1">
                      <a *ngIf="campaignId" [routerLink]="['/products/', currentProduct.id, 'campaign', campaignId]"
                      class="text-default font-weight-bold summary mb-1">{{ currentProduct.name }}</a>
                      <a *ngIf="!campaignId" [routerLink]="['/products/', currentProduct.id]"
                      class="text-default font-weight-bold summary mb-1">{{ currentProduct.name }}</a>
                    </h6>
                  </div>
                  <ng-container *ngIf="!currentProduct.discountPrice">
                    <h3 class="mb-1 mt-1 font-weight-bold">{{ currentProduct.price }}€</h3>
                  </ng-container>
                  <ng-container *ngIf="currentProduct.discountPrice">
                    <span class="mb-1 mt-1 font-weight-bold full-price text-danger">{{ currentProduct.price }}€</span>
                    <span class="small ml-1 font-italic">({{ currentProduct.discountPercentage.toFixed(0) }}%)</span>
                    <h3 class="mb-1 mt-1 font-weight-bold">{{ currentProduct.discountPrice }}€</h3>
                  </ng-container>
                  <div>
                    <ng-container *ngIf="currentProduct.rating > 0">
                      <span *ngFor="let star of [].constructor(currentProduct.rating | round)" class="star">
                        <i><fa-icon [icon]="['fas', 'star']"></fa-icon></i>
                      </span>
                    </ng-container>
                    <ng-container *ngIf="currentProduct.rating == 0">
                      <span *ngFor="let star of [].constructor(5)" class="star-gray">
                        <i><fa-icon [icon]="['fas', 'star']"></fa-icon></i>
                      </span>
                    </ng-container>
                  </div>
                  <div class="text-muted mb-3">{{ currentProduct.reviewsCount ? currentProduct.reviewsCount : 0 }}
                    {{"products.details.main.reviews-count-label" | translate }}</div>
                  <button *ngIf="currentProduct.stockCount > 0" type="button" class="btn bg-cart" (click)="addToCart(currentProduct)">
                    <span>
                      <i class="mr-2"><fa-icon [icon]="['fas', 'shopping-bag']"></fa-icon></i>{{"products.index.cart.add" | translate }}
                    </span>
                  </button>
                  <div *ngIf="currentProduct.stockCount <= 0" class="btn no-stock disabled">
                    <span>
                      <i class="mr-2"><fa-icon [icon]="['fas', 'ban']"></fa-icon></i>{{"products.index.cart.no-stock" | translate }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <pagination-controls class="custom-pagination" [responsive]="true" (pageChange)="handlePageChange($event)"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
