<!-- Start Footer Area -->
<!-- Start Shop Services Area -->
<section class="shop-services section home">
  <div class="container">
    <div class="row">
      <div *ngFor="let currentService of serviceItems" class="col-lg-3 col-6">
        <!-- Start Single Service -->
        <div class="single-service">
          <i><fa-icon [icon]="['fas', currentService.icon]"></fa-icon></i>
          <h4>{{ currentService.name }}</h4>
          <p>{{ currentService.description }}</p>
        </div>
        <!-- End Single Service -->
      </div>
    </div>
  </div>
</section>
<!-- End Shop Services Area -->

<footer class="footer">
  <div class="copyright">
    <div class="container">
      <div class="inner">
        <div class="row">
          <div class="col-lg-9 col-md-9 col-sm-8">
            <div class="left">
              <p>{{ 'miscellaneous.copyright' | translate }}</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="right">
              <img src="../../../assets/images/payments.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- /End Footer Area -->
