@import "../dashboard.component.scss";

.container-fluid {
  padding: 0;
  width: 45em;
  min-height: 10rem;
  font-weight: bold;
}

.page-breadcrumb {
  padding: 15px 20px 36px;

  .page-title {
    margin-bottom: 0px;
    font-weight: 900;
    text-align: center;
  }
}

.users-grid {
  width: 100%;
  margin: 0.5em 0.25em;
  font-size: 1em;
}

.help-button {
  text-align: center;
  background: $black-color;
  color: $orange-color;
  font-weight: bold;
  font-size: 14px;
  padding: 0.1em 0.1em;
  line-height: unset;
  height: auto;
  transition: 150ms ease;

  &:hover {
    color: white !important;
  }
}

.btn-warning {
  background: $orange-color;
  border-radius: 0.2em;
}
