<div class="container-fluid">
  <div class="page-breadcrumb bg-white">
    <h4 class="page-title">
      {{ "dashboard.users.label" | translate }}
    </h4>
  </div>

  <ag-grid-angular class="users-grid ag-theme-alpine-dark"
    [gridOptions]="gridOptions"
    (firstDataRendered)="onFirstDataRendered($event)"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>

  <div class="d-flex justify-content-around">
    <div class="ml-5 mb-3">
      <button class="btn btn-warning" mat-button [matMenuTriggerFor]="usersGridPageSize">
       <span class="p-1 font-weight-bold">{{ gridState.pageSize }} {{ "dashboard.users.options.rows-per-page" | translate }}</span>
       <i class="ml-1"><fa-icon [icon]="['fas', 'arrow-circle-down']"></fa-icon></i>
      </button>
    </div>
    <mat-menu #usersGridPageSize="matMenu" class="grid-page-size">
      <button mat-menu-item *ngFor="let currentPageSize of gridPageSizes" type="button" (click)="changeGridPageSize(currentPageSize)" class="help-button">
        ({{ currentPageSize }}) {{ "dashboard.users.options.rows-per-page" | translate }}
      </button>
    </mat-menu>
    <div class="mb-3">
      <button class="btn btn-dark" [disabled]="!isRowSelected" mat-button [matMenuTriggerFor]="userRole">
       <span class="p-1 font-weight-bold">{{ "dashboard.users.options.change-role.label" | translate }}</span>
       <i class="ml-1"><fa-icon [icon]="['fas', 'edit']"></fa-icon></i>
      </button>
    </div>
    <mat-menu #userRole="matMenu" class="grid-page-size">
      <button mat-menu-item *ngFor="let currentRole of rolesTranslation" type="button" (click)="changeUserRole(currentRole.key)" class="help-button">
        {{ currentRole.label }}
      </button>
    </mat-menu>
    <div class="mb-3">
      <button class="btn btn-danger" [disabled]="!isRowSelected" mat-button [matMenuTriggerFor]="deleteUser">
       <span class="p-1 font-weight-bold">{{ "dashboard.users.options.delete-user.label" | translate }}</span>
       <i class="ml-1"><fa-icon [icon]="['fas', 'trash']"></fa-icon></i>
      </button>
    </div>
    <mat-menu #deleteUser="matMenu" class="grid-page-size">
      <button mat-menu-item *ngFor="let currentOption of userDeletionTranslations" type="button" (click)="deleteSelectedUser(currentOption.key)" class="help-button">
        {{ currentOption.label }}
      </button>
    </mat-menu>
  </div>

</div>
